openapi: 3.0.1
info:
  contact:
    email: support@akeyless.io
    name: Akeyless
    url: http://akeyless.io
  description: The purpose of this application is to provide access to Akeyless API.
  title: Akeyless API
  version: "2.0"
servers:
- url: https://api.akeyless.io/
paths: {}
components:
  responses:
    CreateClassicKeyResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateClassicKeyOutput'
      description: CreateClassicKeyResponse wraps response body.
    DescribePermissionsResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DescribePermissionsOutput'
      description: DescribePermissionsResponse wraps response body.
    ExportClassicKeyResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ExportClassicKeyOutput'
      description: ExportClassicKeyResponse wraps response body.
    GatewayUpdateLdapAuthConfigResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GatewayUpdateLdapAuthConfigOutput'
      description: GatewayUpdateLdapAuthConfigResponse wraps response body.
    GatewayUpdateTlsCertResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GatewayUpdateTlsCertOutput'
      description: GatewayUpdateTlsCertResponse wraps response body.
    assocRoleAuthMethodResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateRoleAuthMethodAssocOutput'
      description: assocRoleAuthMethodResponse wraps response body.
    assocTargetItemResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateTargetItemAssocOutput'
      description: assocTargetItemResponse wraps response body.
    authResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AuthOutput'
      description: authResponse wraps response body.
    configureResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/configureOutput'
      description: configureResponse wraps response body.
    connectResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/connectOutput'
      description: connectResponse wraps response body.
    createAWSTargetResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createAWSTargetOutput'
      description: createAWSTargetResponse wraps response body.
    createArtifactoryTargetResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createArtifactoryTargetOutput'
      description: createArtifactoryTargetResponse wraps response body.
    createAuthMethodAWSIAMResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createAuthMethodAWSIAMOutput'
      description: createAuthMethodAWSIAMResponse wraps response body.
    createAuthMethodAzureADResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createAuthMethodAzureADOutput'
      description: createAuthMethodAzureADResponse wraps response body.
    createAuthMethodCertResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createAuthMethodCertOutput'
      description: createAuthMethodCertResponse wraps response body.
    createAuthMethodGCPResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createAuthMethodGCPOutput'
      description: createAuthMethodGCPResponse wraps response body.
    createAuthMethodHuaweiResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createAuthMethodHuaweiOutput'
      description: createAuthMethodHuaweiResponse wraps response body.
    createAuthMethodK8SResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createAuthMethodK8SOutput'
      description: createAuthMethodK8SResponse wraps response body.
    createAuthMethodLDAPResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createAuthMethodLDAPOutput'
      description: createAuthMethodLDAPResponse wraps response body.
    createAuthMethodOAuth2Response:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createAuthMethodOAuth2Output'
      description: createAuthMethodOAuth2Response wraps response body.
    createAuthMethodOIDCResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createAuthMethodOIDCOutput'
      description: createAuthMethodOIDCResponse wraps response body.
    createAuthMethodResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createAuthMethodOutput'
      description: createAuthMethodResponse wraps response body.
    createAuthMethodSAMLResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createAuthMethodSAMLOutput'
      description: createAuthMethodSAMLResponse wraps response body.
    createAuthMethodUniversalIdentityResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createAuthMethodUniversalIdentityOutput'
      description: createAuthMethodUniversalIdentityResponse wraps response body.
    createAzureTargetResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createAzureTargetOutput'
      description: createAzureTargetResponse wraps response body.
    createCertificateResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createCertificateOutput'
      description: createCertificateResponse wraps response body.
    createDBTargetResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createDBTargetOutput'
      description: createDBTargetResponse wraps response body.
    createDFCKeyResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createDFCKeyOutput'
      description: createDFCKeyResponse wraps response body.
    createDockerhubTargetResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createDockerhubTargetOutput'
      description: createDockerhubTargetResponse wraps response body.
    createDynamicSecretResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createDynamicSecretOutput'
      description: createDynamicSecretResponse wraps response body.
    createEKSTargetResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createEKSTargetOutput'
      description: createEKSTargetResponse wraps response body.
    createEventForwarderResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createEventForwarderOutput'
      description: createEventForwarderResponse wraps response body.
    createGKETargetResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createGKETargetOutput'
      description: createGKETargetResponse wraps response body.
    createGcpTargetResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createGcpTargetOutput'
      description: createGcpTargetResponse wraps response body.
    createGithubTargetResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createGithubTargetOutput'
      description: createGithubTargetResponse wraps response body.
    createKeyResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createKeyOutput'
      description: createKeyResponse wraps response body.
    createNativeK8STargetResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createNativeK8STargetOutput'
      description: createNativeK8STargetResponse wraps response body.
    createPKICertIssuerResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createPKICertIssuerOutput'
      description: createPKICertIssuerResponse wraps response body.
    createPingTargetResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createPingTargetOutput'
      description: createPingTargetResponse wraps response body.
    createRabbitMQTargetResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createRabbitMQTargetOutput'
      description: createRabbitMQTargetResponse wraps response body.
    createRoleResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createRoleOutput'
      description: createRoleResponse wraps response body.
    createRotatedSecretResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateRotatedSecretOutput'
      description: createRotatedSecretResponse wraps response body.
    createSSHCertIssuerResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createSSHCertIssuerOutput'
      description: createSSHCertIssuerResponse wraps response body.
    createSSHTargetResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createSSHTargetOutput'
      description: createSSHTargetResponse wraps response body.
    createSalesforceTargetResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createSalesforceTargetOutput'
      description: createSalesforceTargetResponse wraps response body.
    createSecretResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateSecretOutput'
      description: createSecretResponse wraps response body.
    createTokenizerResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createTokenizerOutput'
      description: createTokenizerResponse wraps response body.
    createWebTargetResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createWebTargetOutput'
      description: createWebTargetResponse wraps response body.
    createldapTargetResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createLdapTargetOutput'
      description: createldapTargetResponse wraps response body.
    decryptFileResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/decryptFileOutput'
      description: decryptFileResponse wraps response body.
    decryptGPGResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/decryptGPGOutput'
      description: decryptGPGResponse wraps response body.
    decryptPKCS1Response:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/decryptPKCS1Output'
      description: decryptPKCS1Response wraps response body.
    decryptResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/decryptOutput'
      description: decryptResponse wraps response body.
    decryptWithClassicKeyResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/decryptWithClassicKeyOutput'
      description: decryptWithClassicKeyResponse wraps response body.
    deleteAuthMethodResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/deleteAuthMethodOutput'
      description: deleteAuthMethodResponse wraps response body.
    deleteAuthMethodsResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/deleteAuthMethodsOutput'
      description: deleteAuthMethodsResponse wraps response body.
    deleteEventForwarderResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/deleteEventForwarderOutput'
      description: deleteEventForwarderResponse wraps response body.
    deleteItemResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DeleteItemOutput'
      description: deleteItemResponse wraps response body.
    deleteItemsResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/deleteItemsOutput'
      description: deleteItemsResponse wraps response body.
    deleteRoleAssociationResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/deleteRoleAssociationOutput'
      description: deleteRoleAssociationResponse wraps response body.
    deleteRoleResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/deleteRoleOutput'
      description: deleteRoleResponse wraps response body.
    deleteRoleRuleResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/deleteRoleRuleOutput'
      description: deleteRoleRuleResponse wraps response body.
    deleteRolesResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/deleteRolesOutput'
      description: deleteRolesResponse wraps response body.
    deleteTargetAssociationResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/deleteTargetAssociationOutput'
      description: deleteTargetAssociationResponse wraps response body.
    deleteTargetResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/deleteTargetOutput'
      description: deleteTargetResponse wraps response body.
    deleteTargetsResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/deleteTargetsOutput'
      description: deleteTargetsResponse wraps response body.
    describeItemResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Item'
      description: describeItemResponse wraps response body.
    describeSubClaimsResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/describeSubClaimsOutput'
      description: describeSubClaimsResponse wraps response body.
    detokenizeResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/detokenizeOutput'
      description: detokenizeResponse wraps response body.
    encryptFileResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/encryptFileOutput'
      description: encryptFileResponse wraps response body.
    encryptGPGResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/encryptGPGOutput'
      description: encryptGPGResponse wraps response body.
    encryptResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/encryptOutput'
      description: encryptResponse wraps response body.
    encryptWithClassicKeyResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/encryptWithClassicKeyOutput'
      description: encryptWithClassicKeyResponse wraps response body.
    errorResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/JSONError'
      description: |-
        errorResponse wraps any error to return it as a JSON object with one "error"
        field.
    gatewayCreateK8SAuthConfigResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/gatewayCreateK8SAuthConfigOutput'
      description: gatewayCreateK8SAuthConfigResponse wraps response body.
    gatewayCreateProducerArtifactoryResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/gatewayCreateProducerArtifactoryOutput'
      description: gatewayCreateProducerArtifactoryResponse wraps response body.
    gatewayCreateProducerAwsResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/gatewayCreateProducerAwsOutput'
      description: gatewayCreateProducerAwsResponse wraps response body.
    gatewayCreateProducerAzureResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/gatewayCreateProducerAzureOutput'
      description: gatewayCreateProducerAzureResponse wraps response body.
    gatewayCreateProducerCassandraResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/gatewayCreateProducerCassandraOutput'
      description: gatewayCreateProducerCassandraResponse wraps response body.
    gatewayCreateProducerCertificateAutomationResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/gatewayCreateProducerCertificateAutomationOutput'
      description: gatewayCreateProducerCertificateAutomationResponse wraps response
        body.
    gatewayCreateProducerChefResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/gatewayCreateProducerChefOutput'
      description: gatewayCreateProducerChefResponse wraps response body.
    gatewayCreateProducerCustomResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/gatewayCreateProducerCustomOutput'
      description: gatewayCreateProducerCustomResponse wraps response body.
    gatewayCreateProducerDockerhubResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/gatewayCreateProducerDockerhubOutput'
      description: gatewayCreateProducerDockerhubResponse wraps response body.
    gatewayCreateProducerEksResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/gatewayCreateProducerEksOutput'
      description: gatewayCreateProducerEksResponse wraps response body.
    gatewayCreateProducerGcpResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/gatewayCreateProducerGcpOutput'
      description: gatewayCreateProducerGcpResponse wraps response body.
    gatewayCreateProducerGithubResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/gatewayCreateProducerGithubOutput'
      description: gatewayCreateProducerGithubResponse wraps response body.
    gatewayCreateProducerGkeResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/gatewayCreateProducerGkeOutput'
      description: gatewayCreateProducerGkeResponse wraps response body.
    gatewayCreateProducerHanaDbResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/gatewayCreateProducerHanaDbOutput'
      description: gatewayCreateProducerHanaDbResponse wraps response body.
    gatewayCreateProducerLdapResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/gatewayCreateProducerLdapOutput'
      description: gatewayCreateProducerLdapResponse wraps response body.
    gatewayCreateProducerMSSQLResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/gatewayCreateProducerMSSQLOutput'
      description: gatewayCreateProducerMSSQLResponse wraps response body.
    gatewayCreateProducerMongoResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/gatewayCreateProducerMongoOutput'
      description: gatewayCreateProducerMongoResponse wraps response body.
    gatewayCreateProducerMySQLResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/gatewayCreateProducerMySQLOutput'
      description: gatewayCreateProducerMySQLResponse wraps response body.
    gatewayCreateProducerNativeK8SResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/gatewayCreateProducerNativeK8SOutput'
      description: gatewayCreateProducerNativeK8SResponse wraps response body.
    gatewayCreateProducerOracleDbResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/gatewayCreateProducerOracleDbOutput'
      description: gatewayCreateProducerOracleDbResponse wraps response body.
    gatewayCreateProducerPingResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/gatewayCreateProducerPingOutput'
      description: gatewayCreateProducerPingResponse wraps response body.
    gatewayCreateProducerPostgreSQLResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/gatewayCreateProducerPostgreSQLOutput'
      description: gatewayCreateProducerPostgreSQLResponse wraps response body.
    gatewayCreateProducerRabbitMQResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/gatewayCreateProducerRabbitMQOutput'
      description: gatewayCreateProducerRabbitMQResponse wraps response body.
    gatewayCreateProducerRdpResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/gatewayCreateProducerRdpOutput'
      description: gatewayCreateProducerRdpResponse wraps response body.
    gatewayCreateProducerRedshiftResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/gatewayCreateProducerRedshiftOutput'
      description: gatewayCreateProducerRedshiftResponse wraps response body.
    gatewayCreateProducerSnowflakeResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/gatewayCreateProducerSnowflakeOutput'
      description: gatewayCreateProducerSnowflakeResponse wraps response body.
    gatewayDeleteK8SAuthConfigResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/gatewayDeleteK8SAuthConfigOutput'
      description: gatewayDeleteK8SAuthConfigResponse wraps response body.
    gatewayDeleteProducerResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/gatewayDeleteProducerOutput'
      description: gatewayDeleteProducerResponse wraps response body.
    gatewayDeleteSubAdminsResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/gatewayDeleteSubAdminsOutput'
      description: gatewayDeleteSubAdminsResponse wraps response body.
    gatewayGetConfigResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AkeylessGatewayConfig'
      description: gatewayGetConfigResponse wraps response body.
    gatewayGetK8SAuthConfigResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/gatewayGetK8SAuthConfigOutput'
      description: gatewayGetK8SAuthConfigResponse wraps response body.
    gatewayGetLdapAuthConfigResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/gatewayGetLdapAuthConfigOutput'
      description: gatewayGetLdapAuthConfigResponse wraps response body.
    gatewayGetProducerResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DSProducerDetails'
      description: gatewayGetProducerResponse wraps response body.
    gatewayGetTmpUsersResponse:
      content:
        application/json:
          schema:
            items:
              $ref: '#/components/schemas/TmpUserData'
            type: array
      description: gatewayGetTmpUsersResponse wraps response body.
    gatewayListProducersResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GetProducersListReplyObj'
      description: gatewayListProducersResponse wraps response body.
    gatewayListSubAdminsResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GetSubAdminsListReplyObj'
      description: gatewayListSubAdminsResponse wraps response body.
    gatewayMigratePersonalItemsResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/gatewayMigratePersonalItemsOutput'
      description: gatewayMigratePersonalItemsResponse wraps response body.
    gatewayMigrationCreateResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GatewayMigrationCreateOutput'
      description: gatewayMigrationCreateResponse wraps response body.
    gatewayMigrationDeleteResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GatewayMigrationDeleteOutput'
      description: gatewayMigrationDeleteResponse wraps response body.
    gatewayMigrationGetResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/gatewayMigrationGetOutput'
      description: gatewayMigrationGetResponse wraps response body.
    gatewayMigrationListResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/gatewayMigrationListOutput'
      description: gatewayMigrationListResponse wraps response body.
    gatewayMigrationStatusResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/MigrationStatusReplyObj'
      description: gatewayMigrationStatusResponse wraps response body.
    gatewayMigrationSyncResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GatewayMigrationSyncOutput'
      description: gatewayMigrationSyncResponse wraps response body.
    gatewayMigrationUpdateResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GatewayMigrationUpdateOutput'
      description: gatewayMigrationUpdateResponse wraps response body.
    gatewayRevokeTmpUsersResponse:
      content: {}
      description: gatewayRevokeTmpUsersResponse wraps response body.
    gatewayStartProducerResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/gatewayStartProducerOutput'
      description: gatewayStartProducerResponse wraps response body.
    gatewayStopProducerResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/gatewayStopProducerOutput'
      description: gatewayStopProducerResponse wraps response body.
    gatewayUpdateItemResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/gatewayUpdateItemOutput'
      description: gatewayUpdateItemResponse wraps response body.
    gatewayUpdateK8SAuthConfigResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/gatewayUpdateK8SAuthConfigOutput'
      description: gatewayUpdateK8SAuthConfigResponse wraps response body.
    gatewayUpdateProducerArtifactoryResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/gatewayUpdateProducerArtifactoryOutput'
      description: gatewayUpdateProducerArtifactoryResponse wraps response body.
    gatewayUpdateProducerAwsResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/gatewayUpdateProducerAwsOutput'
      description: gatewayUpdateProducerAwsResponse wraps response body.
    gatewayUpdateProducerAzureResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/gatewayUpdateProducerAzureOutput'
      description: gatewayUpdateProducerAzureResponse wraps response body.
    gatewayUpdateProducerCassandraResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/gatewayUpdateProducerCassandraOutput'
      description: gatewayUpdateProducerCassandraResponse wraps response body.
    gatewayUpdateProducerCertificateAutomationResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/gatewayUpdateProducerCertificateAutomationOutput'
      description: gatewayUpdateProducerCertificateAutomationResponse wraps response
        body.
    gatewayUpdateProducerChefResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/gatewayUpdateProducerChefOutput'
      description: gatewayUpdateProducerChefResponse wraps response body.
    gatewayUpdateProducerCustomResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/gatewayUpdateProducerCustomOutput'
      description: gatewayUpdateProducerCustomResponse wraps response body.
    gatewayUpdateProducerDockerhubResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/gatewayUpdateProducerDockerhubOutput'
      description: gatewayUpdateProducerDockerhubResponse wraps response body.
    gatewayUpdateProducerEksResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/gatewayUpdateProducerEksOutput'
      description: gatewayUpdateProducerEksResponse wraps response body.
    gatewayUpdateProducerGcpResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/gatewayUpdateProducerGcpOutput'
      description: gatewayUpdateProducerGcpResponse wraps response body.
    gatewayUpdateProducerGithubResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/gatewayUpdateProducerGithubOutput'
      description: gatewayUpdateProducerGithubResponse wraps response body.
    gatewayUpdateProducerGkeResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/gatewayUpdateProducerGkeOutput'
      description: gatewayUpdateProducerGkeResponse wraps response body.
    gatewayUpdateProducerHanaDbResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/gatewayUpdateProducerHanaDbOutput'
      description: gatewayUpdateProducerHanaDbResponse wraps response body.
    gatewayUpdateProducerLdapResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/gatewayUpdateProducerLdapOutput'
      description: gatewayUpdateProducerLdapResponse wraps response body.
    gatewayUpdateProducerMSSQLResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/gatewayUpdateProducerMSSQLOutput'
      description: gatewayUpdateProducerMSSQLResponse wraps response body.
    gatewayUpdateProducerMongoResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/gatewayUpdateProducerMongoOutput'
      description: gatewayUpdateProducerMongoResponse wraps response body.
    gatewayUpdateProducerMySQLResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/gatewayUpdateProducerMySQLOutput'
      description: gatewayUpdateProducerMySQLResponse wraps response body.
    gatewayUpdateProducerNativeK8SResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/gatewayUpdateProducerNativeK8SOutput'
      description: gatewayUpdateProducerNativeK8SResponse wraps response body.
    gatewayUpdateProducerOracleDbResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/gatewayUpdateProducerOracleDbOutput'
      description: gatewayUpdateProducerOracleDbResponse wraps response body.
    gatewayUpdateProducerPingResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/gatewayUpdateProducerPingOutput'
      description: gatewayUpdateProducerPingResponse wraps response body.
    gatewayUpdateProducerPostgreSQLResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/gatewayUpdateProducerPostgreSQLOutput'
      description: gatewayUpdateProducerPostgreSQLResponse wraps response body.
    gatewayUpdateProducerRabbitMQResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/gatewayUpdateProducerRabbitMQOutput'
      description: gatewayUpdateProducerRabbitMQResponse wraps response body.
    gatewayUpdateProducerRdpResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/gatewayUpdateProducerRdpOutput'
      description: gatewayUpdateProducerRdpResponse wraps response body.
    gatewayUpdateProducerRedshiftResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/gatewayUpdateProducerRedshiftOutput'
      description: gatewayUpdateProducerRedshiftResponse wraps response body.
    gatewayUpdateProducerSnowflakeResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/gatewayUpdateProducerSnowflakeOutput'
      description: gatewayUpdateProducerSnowflakeResponse wraps response body.
    gatewayUpdateTmpUsersResponse:
      content: {}
      description: gatewayUpdateTmpUsersResponse wraps response body.
    genCustomerFragmentResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CustomerFragmentsJson'
      description: genCustomerFragmentResponse wraps response body.
    getAccountLogoResponse:
      content:
        application/json:
          schema:
            additionalProperties:
              type: string
            type: object
      description: getAccountLogoResponse wraps response body.
    getAccountSettingsResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GetAccountSettingsCommandOutput'
      description: getAccountSettingsResponse wraps response body.
    getAuthMethodResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AuthMethod'
      description: getAuthMethodResponse wraps response body.
    getCertificateValueResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GetCertificateValueOutput'
      description: getCertificateValueResponse wraps response body.
    getDynamicSecretValueResponse:
      content:
        application/json:
          schema:
            additionalProperties:
              type: string
            type: object
      description: getDynamicSecretValueResponse wraps response body.
    getEventForwarderResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/getEventForwarderOutput'
      description: getEventForwarderResponse wraps response body.
    getKubeExecCredsResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/getKubeExecCredsOutput'
      description: getKubeExecCredsResponse wraps response body.
    getPKICertificateResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/getPKICertificateOutput'
      description: getPKICertificateResponse wraps response body.
    getRSAPublicResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/getRSAPublicOutput'
      description: getRSAPublicResponse wraps response body.
    getRoleResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Role'
      description: getRoleResponse wraps response body.
    getRotatedSecretValueResponse:
      content:
        application/json:
          schema:
            type: object
      description: getRotatedSecretValueResponse wraps response body.
    getSSHCertificateResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/getSSHCertificateOutput'
      description: getSSHCertificateResponse wraps response body.
    getSecretValueResponse:
      content:
        application/json:
          schema:
            additionalProperties:
              type: string
            type: object
      description: getSecretValueResponse wraps response body.
    getTagsResponse:
      content:
        application/json:
          schema:
            items:
              type: string
            type: array
      description: getTagsResponse wraps response body.
    getTargetDetailsResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GetTargetDetailsOutput'
      description: getTargetDetailsResponse wraps response body.
    getTargetResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Target'
      description: getTargetResponse wraps response body.
    kmipClientDeleteRuleResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/KMIPClientUpdateResponse'
      description: kmipClientDeleteRuleResponse wraps response body.
    kmipClientSetRuleResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/KMIPClientUpdateResponse'
      description: kmipClientSetRuleResponse wraps response body.
    kmipCreateClientResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/kmipCreateClientOutput'
      description: kmipCreateClientResponse wraps response body.
    kmipDeleteClientResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/kmipDeleteClientOutput'
      description: kmipDeleteClientResponse wraps response body.
    kmipDeleteServerResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/kmipDeleteServerOutput'
      description: kmipDeleteServerResponse wraps response body.
    kmipDescribeClientResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/KMIPClientGetResponse'
      description: kmipDescribeClientResponse wraps response body.
    kmipDescribeServerResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/kmipDescribeServerOutput'
      description: kmipDescribeServerResponse wraps response body.
    kmipListClientsResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/KMIPClientListResponse'
      description: kmipListClientsResponse wraps response body.
    kmipMoveServerResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/kmipMoveServerOutput'
      description: kmipMoveServerResponse wraps response body.
    kmipRenewClientCertificateResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/kmipRenewClientCertificateOutput'
      description: kmipRenewClientCertificateResponse wraps response body.
    kmipRenewServerCertificateResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/kmipRenewServerCertificateOutput'
      description: kmipRenewServerCertificateResponse wraps response body.
    kmipServerSetupResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/KMIPEnvironmentCreateResponse'
      description: kmipServerSetupResponse wraps response body.
    kmipSetServerStateResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/kmipSetServerStateOutput'
      description: kmipSetServerStateResponse wraps response body.
    listAuthMethodsResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListAuthMethodsOutput'
      description: listAuthMethodsResponse wraps response body.
    listGatewaysResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GatewaysListResponse'
      description: listGatewaysResponse wraps response body.
    listItemsResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListItemsInPathOutput'
      description: listItemsResponse wraps response body.
    listRolesResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListRolesOutput'
      description: listRolesResponse wraps response body.
    listSRABastionsResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BastionsList'
      description: listSRABastionsResponse wraps response body.
    listSharedItemsResponse:
      content:
        application/json:
          schema:
            type: object
      description: listSharedItemsResponse wraps response body.
    listTargetsResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListTargetsOutput'
      description: listTargetsResponse wraps response body.
    moveObjectsResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/moveObjectsOutput'
      description: moveObjectsResponse wraps response body.
    rawCredsResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SystemAccessCredentialsReplyObj'
      description: rawCredsResponse wraps response body.
    refreshKeyResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/refreshKeyOutput'
      description: refreshKeyResponse wraps response body.
    requestAccessResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/requestAccessOutput'
      description: requestAccessResponse wraps response body.
    reverseRBACResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ReverseRBACOutput'
      description: reverseRBACResponse wraps response body.
    revokeCredsResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/revokeCredsOutput'
      description: revokeCredsResponse wraps response body.
    rollbackSecretResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/rollbackSecretOutput'
      description: rollbackSecretResponse wraps response body.
    rotateKeyResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RotateKeyOutput'
      description: rotateKeyResponse wraps response body.
    rotateSecretResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RotatedSecretOutput'
      description: rotateSecretResponse wraps response body.
    setItemStateResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/setItemStateOutput'
      description: setItemStateResponse wraps response body.
    setRoleRuleResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/setRoleRuleOutput'
      description: setRoleRuleResponse wraps response body.
    shareItemResponse:
      content:
        application/json:
          schema:
            type: object
      description: shareItemResponse wraps response body.
    signGPGResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/signGPGOutput'
      description: signGPGResponse wraps response body.
    signJWTWithClassicKeyResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/signJWTOutput'
      description: signJWTWithClassicKeyResponse wraps response body.
    signPKCS1Response:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/signPKCS1Output'
      description: signPKCS1Response wraps response body.
    signPKICertWithClassicKeyResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/signPKICertOutput'
      description: signPKICertWithClassicKeyResponse wraps response body.
    staticCredsAuthResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/staticCredsAuthOutput'
      description: staticCredsAuthResponse wraps response body.
    tokenizeResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/tokenizeOutput'
      description: tokenizeResponse wraps response body.
    uidCreateChildTokenResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/uidCreateChildTokenOutput'
      description: uidCreateChildTokenResponse wraps response body.
    uidGenerateTokenResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/uidGenerateTokenOutput'
      description: uidGenerateTokenResponse wraps response body.
    uidListChildrenResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UniversalIdentityDetails'
      description: uidListChildrenResponse wraps response body.
    uidRevokeTokenResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/uidRevokeTokenOutput'
      description: uidRevokeTokenResponse wraps response body.
    uidRotateTokenResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/uidRotateTokenOutput'
      description: uidRotateTokenResponse wraps response body.
    unconfigureResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/unconfigureOutput'
      description: unconfigureResponse wraps response body.
    updateAWSTargetResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/updateAWSTargetOutput'
      description: updateAWSTargetResponse wraps response body.
    updateAccountSettingsResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/updateAccountSettingsOutput'
      description: updateAccountSettingsResponse wraps response body.
    updateArtifactoryTargetResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/updateArtifactoryTargetOutput'
      description: updateArtifactoryTargetResponse wraps response body.
    updateAssocResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/updateAssocOutput'
      description: updateAssocResponse wraps response body.
    updateAuthMethodAWSIAMResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/updateAuthMethodAWSIAMOutput'
      description: updateAuthMethodAWSIAMResponse wraps response body.
    updateAuthMethodAzureADResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/updateAuthMethodAzureADOutput'
      description: updateAuthMethodAzureADResponse wraps response body.
    updateAuthMethodCertResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/updateAuthMethodCertOutput'
      description: updateAuthMethodCertResponse wraps response body.
    updateAuthMethodGCPResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/updateAuthMethodGCPOutput'
      description: updateAuthMethodGCPResponse wraps response body.
    updateAuthMethodK8SResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/updateAuthMethodK8SOutput'
      description: updateAuthMethodK8SResponse wraps response body.
    updateAuthMethodLDAPResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/updateAuthMethodLDAPOutput'
      description: updateAuthMethodLDAPResponse wraps response body.
    updateAuthMethodOAuth2Response:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/updateAuthMethodOAuth2Output'
      description: updateAuthMethodOAuth2Response wraps response body.
    updateAuthMethodOIDCResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/updateAuthMethodOIDCOutput'
      description: updateAuthMethodOIDCResponse wraps response body.
    updateAuthMethodResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/updateAuthMethodOutput'
      description: updateAuthMethodResponse wraps response body.
    updateAuthMethodSAMLResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/updateAuthMethodSAMLOutput'
      description: updateAuthMethodSAMLResponse wraps response body.
    updateAuthMethodUniversalIdentityResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/updateAuthMethodUniversalIdentityOutput'
      description: updateAuthMethodUniversalIdentityResponse wraps response body.
    updateAzureTargetResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/updateAzureTargetOutput'
      description: updateAzureTargetResponse wraps response body.
    updateCertificateValueResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/updateCertificateOutput'
      description: updateCertificateValueResponse wraps response body.
    updateDBTargetResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/updateDBTargetOutput'
      description: updateDBTargetResponse wraps response body.
    updateDockerhubTargetResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/updateDockerhubTargetOutput'
      description: updateDockerhubTargetResponse wraps response body.
    updateEKSTargetResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/updateEKSTargetOutput'
      description: updateEKSTargetResponse wraps response body.
    updateEventForwarderResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/updateEventForwarderOutput'
      description: updateEventForwarderResponse wraps response body.
    updateGKETargetResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/updateGKETargetOutput'
      description: updateGKETargetResponse wraps response body.
    updateGcpTargetResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/updateGcpTargetOutput'
      description: updateGcpTargetResponse wraps response body.
    updateGithubTargetResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/updateGithubTargetOutput'
      description: updateGithubTargetResponse wraps response body.
    updateItemResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/updateItemOutput'
      description: updateItemResponse wraps response body.
    updateLdapTargetResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/updateLdapTargetOutput'
      description: updateLdapTargetResponse wraps response body.
    updateNativeK8STargetResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/updateNativeK8STargetOutput'
      description: updateNativeK8STargetResponse wraps response body.
    updatePKICertIssuerResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/updatePKICertIssuerOutput'
      description: updatePKICertIssuerResponse wraps response body.
    updatePingTargetResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/updatePingTargetOutput'
      description: updatePingTargetResponse wraps response body.
    updateRabbitMQTargetResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/updateRabbitMQTargetOutput'
      description: updateRabbitMQTargetResponse wraps response body.
    updateResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/updateOutput'
      description: updateResponse wraps response body.
    updateRoleResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/updateRoleOutput'
      description: updateRoleResponse wraps response body.
    updateRotatedSecretResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/updateRotatedSecretOutput'
      description: updateRotatedSecretResponse wraps response body.
    updateSSHCertIssuerResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/updateSSHCertIssuerOutput'
      description: updateSSHCertIssuerResponse wraps response body.
    updateSSHTargetResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/updateSSHTargetOutput'
      description: updateSSHTargetResponse wraps response body.
    updateSalesforceTargetResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/updateSalesforceTargetOutput'
      description: updateSalesforceTargetResponse wraps response body.
    updateSecretValResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UpdateSecretValOutput'
      description: updateSecretValResponse wraps response body.
    updateTargetDetailsResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/updateTargetDetailsOutput'
      description: updateTargetDetailsResponse wraps response body.
    updateTargetResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/updateTargetOutput'
      description: updateTargetResponse wraps response body.
    updateWebTargetResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/updateWebTargetOutput'
      description: updateWebTargetResponse wraps response body.
    uploadPKCS12Response:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/uploadPKCS12Output'
      description: uploadPKCS12Response wraps response body.
    uploadRSAResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/uploadRSAOutput'
      description: uploadRSAResponse wraps response body.
    validateTokenResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/validateTokenOutput'
      description: validateTokenResponse wraps response body.
    verifyGPGResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/verifyGPGOutput'
      description: verifyGPGResponse wraps response body.
    verifyJWTWithClassicKeyResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/verifyJWTOutput'
      description: verifyJWTWithClassicKeyResponse wraps response body.
    verifyPKCS1Response:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/verifyPKCS1Output'
      description: verifyPKCS1Response wraps response body.
    verifyPKICertWithClassicKeyResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/verifyPKICertOutput'
      description: verifyPKICertWithClassicKeyResponse wraps response body.
  schemas:
    APIKeyAccessRules:
      properties:
        alg:
          title: Algorithm is a type that represents a single crypto algorithm.
          type: string
          x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/types
        key:
          description: The public key value of the API-key.
          type: string
          x-go-name: PubKeyValue
      title: APIKeyAccessRules is a set of rules for API Key access type.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/types
    AWSAccessMode:
      type: string
      x-go-package: akeyless.io/akeyless-main-repo/go/src/producer/config
    AWSIAMAccessRules:
      properties:
        account_id:
          description: The list of account ids that the login is restricted to.
          items:
            type: string
          type: array
          x-go-name: AccountID
        arn:
          description: The list of ARNs that the login is restricted to.
          items:
            type: string
          type: array
          x-go-name: Arn
        resource_id:
          description: The list of resource ids that the login is restricted to.
          items:
            type: string
          type: array
          x-go-name: ResourceID
        role_id:
          description: The list of role ids that the login is restricted to.
          items:
            type: string
          type: array
          x-go-name: RoleID
        role_name:
          description: The list of role names that the login is restricted to.
          items:
            type: string
          type: array
          x-go-name: RoleName
        sts_endpoint:
          description: The sts URL.
          type: string
          x-go-name: StsEndpoint
        user_id:
          description: The list of user ids that the login is restricted to.
          items:
            type: string
          type: array
          x-go-name: UserID
        user_name:
          description: The list of user names that the login is restricted to.
          items:
            type: string
          type: array
          x-go-name: UserName
      title: AWSIAMAccessRules contains access rules specific to AWS IAM.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/types
    AWSPayload:
      properties:
        key:
          type: string
          x-go-name: Key
        region:
          type: string
          x-go-name: Region
        secret:
          type: string
          x-go-name: Secret
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/akeyless-api/gator
    AWSSecretsMigration:
      properties:
        general:
          $ref: '#/components/schemas/MigrationGeneral'
        payload:
          $ref: '#/components/schemas/AWSPayload'
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/akeyless-api/gator
    AccountGeneralSettings:
      description: AccountGeneralSettings describes general settings for an account
      properties:
        data_protection_section:
          $ref: '#/components/schemas/DataProtectionSection'
        enable_request_for_access:
          type: boolean
          x-go-name: EnableRequestForAccess
        password_policy:
          $ref: '#/components/schemas/PasswordPolicyInfo'
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/types
    AccountObjectVersionSettingsOutput:
      properties:
        default-versioning:
          type: boolean
          x-go-name: CreateNewVersionByDefault
        items:
          items:
            $ref: '#/components/schemas/ObjectVersionSettingsOutput'
          type: array
          x-go-name: ObjectSettings
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    ActiveDirectoryMigration:
      properties:
        general:
          $ref: '#/components/schemas/MigrationGeneral'
        payload:
          $ref: '#/components/schemas/ActiveDirectoryPayload'
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/akeyless-api/gator
    ActiveDirectoryPayload:
      properties:
        active_directory_target_id:
          format: int64
          type: integer
          x-go-name: ActiveDirectoryTargetID
        auto_rotate:
          type: boolean
          x-go-name: AutoRotate
        auto_rotate_interval_in_days:
          format: int32
          type: integer
          x-go-name: AutoRotateIntervalInDays
        auto_rotate_rotation_hour:
          format: int32
          type: integer
          x-go-name: AutoRotateRotationHour
        computer_base_dn:
          type: string
          x-go-name: ComputerBaseDN
        discover_local_users:
          type: boolean
          x-go-name: DiscoverLocalUsers
        domain_name:
          type: string
          x-go-name: DomainName
        domain_server_targets_path_template:
          type: string
          x-go-name: DomainServerTargetsPathTemplate
        domain_users_rotated_secrets_path_template:
          type: string
          x-go-name: DomainUsersRotatedSecretsPathTemplate
        enable_rdp_sra:
          type: boolean
          x-go-name: EnableRdpSRA
        local_users_ignore_list:
          additionalProperties:
            type: boolean
          type: object
          x-go-name: LocalUsersIgnoreList
        local_users_rotated_secrets_path_template:
          type: string
          x-go-name: LocalUsersRotatedSecretsPathTemplate
        ssh_port:
          type: string
          x-go-name: SshPort
        user_base_dn:
          type: string
          x-go-name: UserBaseDN
        user_groups:
          items:
            type: string
          type: array
          x-go-name: UserGroups
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/akeyless-api/gator
    AdminsConfigPart:
      properties:
        allowed_access:
          additionalProperties:
            $ref: '#/components/schemas/AllowedAccess'
          type: object
          x-go-name: Allowed
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/akeyless-api/gator
    AkeylessGatewayConfig:
      properties:
        admins:
          $ref: '#/components/schemas/AdminsConfigPart'
        cache:
          $ref: '#/components/schemas/CacheConfigPart'
        cf:
          $ref: '#/components/schemas/CFConfigPart'
        config_protection_key_name:
          type: string
          x-go-name: ConfigProtectionKeyName
        general:
          $ref: '#/components/schemas/GeneralConfigPart'
        k8s_auths:
          $ref: '#/components/schemas/K8SAuthsConfigPart'
        kmip_clients:
          $ref: '#/components/schemas/KMIPConfigPart'
        ldap:
          $ref: '#/components/schemas/LdapConfigPart'
        leadership:
          $ref: '#/components/schemas/LeadershipConfigPart'
        log_forwarding:
          $ref: '#/components/schemas/LogForwardingConfigPart'
        message_queue_info:
          $ref: '#/components/schemas/GatewayMessageQueueInfo'
        migrations:
          $ref: '#/components/schemas/MigrationsConfigPart'
        producers:
          $ref: '#/components/schemas/ProducersConfigPart'
        rotators:
          $ref: '#/components/schemas/RotatorsConfigPart'
        saml:
          $ref: '#/components/schemas/DefaultConfigPart'
        version:
          format: uint64
          type: integer
          x-go-name: Version
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/akeyless-api/gator
    Algorithm:
      title: Algorithm is a type that represents a single crypto algorithm.
      type: string
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/types
    AllowedAccess:
      properties:
        acc_id:
          type: string
          x-go-name: AccId
        access_rules_type:
          type: string
          x-go-name: AccessRulesType
        allowed_api:
          type: boolean
          x-go-name: AllowedApi
        alloweds_login:
          type: boolean
          x-go-name: AllowedsLogin
        err_msg:
          type: string
          x-go-name: ErrMsg
        hash:
          type: string
          x-go-name: Hash
        is_valid:
          type: boolean
          x-go-name: IsValid
        name:
          type: string
          x-go-name: Name
        sub_claims:
          additionalProperties:
            items:
              type: string
            type: array
          type: object
          x-go-name: SubClaims
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/akeyless-api/gator
    AssocRelationship:
      type: string
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/types
    AttributeTypeAndValue:
      description: |-
        AttributeTypeAndValue mirrors the ASN.1 structure of the same name in
        RFC 5280, Section 4.1.2.4.
      properties:
        Type:
          items:
            format: int64
            type: integer
          title: An ObjectIdentifier represents an ASN.1 OBJECT IDENTIFIER.
          type: array
          x-go-package: encoding/asn1
        Value:
          type: object
      type: object
      x-go-package: crypto/x509/pkix
    AuthMethod:
      properties:
        access_date:
          format: date-time
          type: string
          x-go-name: AccessDate
        access_info:
          $ref: '#/components/schemas/AuthMethodAccessInfo'
        account_id:
          type: string
          x-go-name: AccountID
        auth_method_access_id:
          type: string
          x-go-name: AuthMethodAccessID
        auth_method_name:
          type: string
          x-go-name: AuthMethodName
        auth_method_roles_assoc:
          items:
            $ref: '#/components/schemas/AuthMethodRoleAssociation'
          type: array
          x-go-name: AuthMethodRolesAssoc
        client_permissions:
          items:
            type: string
          type: array
          x-go-name: ClientPermissions
        creation_date:
          format: date-time
          type: string
          x-go-name: CreationDate
        modification_date:
          format: date-time
          type: string
          x-go-name: ModificationDate
      title: AuthMethod represents a single Auth method.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/types
    AuthMethodAccessInfo:
      properties:
        access_expires:
          format: int64
          type: integer
          x-go-name: AccessExpires
        access_id_alias:
          description: |-
            for accounts where AccessId holds encrypted email this field will hold generated AccessId,
            for accounts based on regular AccessId it will be equal to accessId itself
          type: string
          x-go-name: AccessIdAlias
        api_key_access_rules:
          $ref: '#/components/schemas/APIKeyAccessRules'
        aws_iam_access_rules:
          $ref: '#/components/schemas/AWSIAMAccessRules'
        azure_ad_access_rules:
          $ref: '#/components/schemas/AzureADAccessRules'
        cert_access_rules:
          $ref: '#/components/schemas/CertAccessRules'
        cidr_whitelist:
          type: string
          x-go-name: CIDRWhitelist
        email_pass_access_rules:
          $ref: '#/components/schemas/EmailPassAccessRules'
        force_sub_claims:
          description: if true the role associated with this auth method must include
            sub claims
          type: boolean
          x-go-name: ForceSubClaims
        gcp_access_rules:
          $ref: '#/components/schemas/GCPAccessRules'
        gw_cidr_whitelist:
          type: string
          x-go-name: GWCIDRWhitelist
        huawei_access_rules:
          $ref: '#/components/schemas/HuaweiAccessRules'
        jwt_ttl:
          format: int64
          type: integer
          x-go-name: JwtTtl
        k8s_access_rules:
          $ref: '#/components/schemas/KubernetesAccessRules'
        ldap_access_rules:
          $ref: '#/components/schemas/LDAPAccessRules'
        oauth2_access_rules:
          $ref: '#/components/schemas/OAuth2AccessRules'
        oidc_access_rules:
          $ref: '#/components/schemas/OIDCAccessRules'
        rules_type:
          type: string
          x-go-name: AccessRulesType
        saml_access_rules:
          $ref: '#/components/schemas/SAMLAccessRules'
        universal_identity_access_rules:
          $ref: '#/components/schemas/UniversalIdentityAccessRules'
      title: AuthMethodAccessInfo includes auth method access information.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/types
    AuthMethodRoleAssociation:
      description: |-
        AuthMethodRoleAssociation includes details of an association between an auth
        method and a role.
      properties:
        allowed_ops:
          items:
            type: string
          type: array
          x-go-name: AllowedOperations
        assoc_id:
          type: string
          x-go-name: AssociationID
        auth_method_sub_claims:
          additionalProperties:
            items:
              type: string
            type: array
          type: object
          x-go-name: AuthMethodSubClaims
        role_name:
          type: string
          x-go-name: RoleName
        rules:
          $ref: '#/components/schemas/Rules'
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/types
    AuthOutput:
      properties:
        creds:
          $ref: '#/components/schemas/SystemAccessCredentialsReplyObj'
        token:
          type: string
          x-go-name: Token
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    AwsS3LogForwardingConfig:
      properties:
        aws_access_id:
          type: string
          x-go-name: AwsAccessId
        aws_access_key:
          type: string
          x-go-name: AwsAccessKey
        aws_region:
          type: string
          x-go-name: AwsRegion
        aws_use_gateway_cloud_identity:
          type: boolean
          x-go-name: AwsUseGatewayCloudIdentity
        bucket_name:
          type: string
          x-go-name: BucketName
        log_folder:
          type: string
          x-go-name: LogFolder
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/akeyless-api/gator
    AzureADAccessRules:
      description: |-
        AzureADAccessRules contains access rules specific to Azure Active Directory
        authentication.
      properties:
        ad_endpoint:
          description: The audience in the JWT.
          type: string
          x-go-name: Audience
        bound_group_ids:
          description: The list of group ids that login is restricted to.
          items:
            type: string
          type: array
          x-go-name: BoundGroupIDs
        bound_resource_groups:
          description: The list of resource groups that login is restricted to.
          items:
            type: string
          type: array
          x-go-name: BoundResourceGroups
        bound_resource_ids:
          description: The list of full resource ids that the login is restricted
            to.
          items:
            type: string
          type: array
          x-go-name: BoundResourceIds
        bound_resource_names:
          description: |-
            The list of resource names that the login is restricted to (e.g, a
            virtual machine name, scale set name, etc).
          items:
            type: string
          type: array
          x-go-name: BoundResourceNames
        bound_resource_providers:
          description: |-
            The list of resource providers that login is restricted to (e.g,
            Microsoft.Compute, Microsoft.ManagedIdentity, etc).
          items:
            type: string
          type: array
          x-go-name: BoundResourceProviders
        bound_resource_types:
          description: |-
            The list of resource types that login is restricted to  (e.g,
            virtualMachines, userAssignedIdentities, etc).
          items:
            type: string
          type: array
          x-go-name: BoundResourceTypes
        bound_service_principal_ids:
          description: The list of service principal IDs that login is restricted
            to.
          items:
            type: string
          type: array
          x-go-name: BoundServicePrincipalIDs
        bound_subscription_ids:
          description: The list of subscription IDs that login is restricted to.
          items:
            type: string
          type: array
          x-go-name: BoundSubscriptionsIDs
        bound_tenant_id:
          description: The tenants id for the Azure Active Directory organization.
          type: string
          x-go-name: BoundTenantID
        issuer:
          description: Issuer URL
          type: string
          x-go-name: Issuer
        jwks_uri:
          description: |-
            The URL to the JSON Web Key Set (JWKS) that containing the public keys
            that should be used to verify any JSON Web Token (JWT) issued by the
            authorization server.
          type: string
          x-go-name: JWKeySetURL
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/types
    AzureKeyVaultMigration:
      properties:
        general:
          $ref: '#/components/schemas/MigrationGeneral'
        payload:
          $ref: '#/components/schemas/AzurePayload'
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/akeyless-api/gator
    AzureLogAnalyticsForwardingConfig:
      properties:
        azure_workspace_id:
          type: string
          x-go-name: AzureWorkspaceId
        azure_workspace_key:
          type: string
          x-go-name: AzureWorkspaceKey
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/akeyless-api/gator
    AzurePayload:
      properties:
        client:
          type: string
          x-go-name: Client
        name:
          type: string
          x-go-name: Name
        secret:
          type: string
          x-go-name: Secret
        tenant:
          type: string
          x-go-name: Tenant
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/akeyless-api/gator
    BastionListEntry:
      properties:
        access_id:
          type: string
          x-go-name: AccessID
        allowed_access_ids:
          items:
            type: string
          type: array
          x-go-name: AllowedAccessIDs
        allowed_urls:
          items:
            type: string
          type: array
          x-go-name: AllowedUrls
        allowed_urls_per_instance:
          additionalProperties:
            items:
              type: string
            type: array
          type: object
          x-go-name: AllowedUrlsPerInstance
        cluster_name:
          type: string
          x-go-name: ClusterName
        display_name:
          type: string
          x-go-name: DisplayName
        last_report:
          format: date-time
          type: string
          x-go-name: LastReport
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/types
    BastionsList:
      properties:
        clusters:
          items:
            $ref: '#/components/schemas/BastionListEntry'
          type: array
          x-go-name: Clusters
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/types
    CFConfigPart:
      properties:
        customer_fragements:
          additionalProperties:
            type: string
          type: object
          x-go-name: CFragments
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/akeyless-api/gator
    CacheConfigPart:
      properties:
        cache_enable:
          type: boolean
          x-go-name: CacheEnable
        cache_ttl:
          type: string
          x-go-name: CacheTTL
        proactive_cache_dump_interval:
          type: string
          x-go-name: ProActiveCacheDumpInterval
        proactive_cache_enable:
          type: boolean
          x-go-name: ProActiveCacheEnable
        proactive_cache_minimum_fetching_time:
          type: string
          x-go-name: ProActiveCacheMinimumFetchingTime
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/akeyless-api/gator
    CertAccessRules:
      properties:
        bound_common_names:
          description: A list of names. At least one must exist in the Common Name.
            Supports globbing.
          items:
            type: string
          type: array
          x-go-name: BoundCommonNames
        bound_dns_sans:
          description: A list of DNS names. At least one must exist in the SANs. Supports
            globbing.
          items:
            type: string
          type: array
          x-go-name: BoundDnsSans
        bound_email_sans:
          description: A list of Email Addresses. At least one must exist in the SANs.
            Supports globbing.
          items:
            type: string
          type: array
          x-go-name: BoundEmailSans
        bound_extensions:
          description: A list of extensions formatted as "oid:value". Expects the
            extension value to be some type of ASN1 encoded string. All values must
            match. Supports globbing on "value".
          items:
            type: string
          type: array
          x-go-name: BoundExtensions
        bound_organizational_units:
          description: A list of Organizational Units names. At least one must exist
            in the OU field.
          items:
            type: string
          type: array
          x-go-name: BoundOrganizationalUnits
        bound_uri_sans:
          description: A list of URIs. At least one must exist in the SANs. Supports
            globbing.
          items:
            type: string
          type: array
          x-go-name: BoundUriSans
        certificate:
          description: Base64 encdoed PEM certificate
          type: string
          x-go-name: Certificate
        revoked_cert_ids:
          description: A list of revoked cert ids
          items:
            type: string
          type: array
          x-go-name: RevokedCertIds
        unique_identifier:
          description: A unique identifier to distinguish different users
          type: string
          x-go-name: UniqueIdentifier
      title: CertAccessRules contains access rules specific to certificate authentication.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/types
    CertIssuerType:
      title: CertIssuerType represents possible certificate issuers type.
      type: string
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/types
    CertificateChainInfo:
      properties:
        certificate_chain:
          items:
            $ref: '#/components/schemas/CertificateInfo'
          type: array
          x-go-name: CertificateChain
        certificate_pem:
          type: string
          x-go-name: CertificatePem
        expiration_events:
          items:
            $ref: '#/components/schemas/CertificateExpirationEvent'
          type: array
          x-go-name: ExpirationEvents
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/types
    CertificateExpirationEvent:
      properties:
        seconds_before:
          format: int64
          type: integer
          x-go-name: SecondsBefore
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/types
    CertificateInfo:
      properties:
        ExtKeyUsage:
          items:
            $ref: '#/components/schemas/ExtKeyUsage'
          type: array
        KeyUsage:
          description: |-
            KeyUsage represents the set of actions that are valid for a given key. It's
            a bitmap of the KeyUsage* constants.
          format: int64
          type: integer
          x-go-package: crypto/x509
        dns_names:
          items:
            type: string
          type: array
          x-go-name: DNSNames
        email_addresses:
          items:
            type: string
          type: array
          x-go-name: EmailAddresses
        extensions:
          items:
            $ref: '#/components/schemas/Extension'
          type: array
          x-go-name: Extensions
        ip_addresses:
          items:
            type: string
          type: array
          x-go-name: IPAddresses
        is_ca:
          type: boolean
          x-go-name: IsCA
        issuer:
          $ref: '#/components/schemas/Name'
        issuing_certificate_url:
          items:
            type: string
          type: array
          x-go-name: IssuingCertificateURL
        key_size:
          format: int64
          type: integer
          x-go-name: KeySize
        not_after:
          format: date-time
          type: string
          x-go-name: NotAfter
        not_before:
          format: date-time
          type: string
          x-go-name: NotBefore
        ocsp_server:
          items:
            type: string
          type: array
          x-go-name: OCSPServer
        public_key_algorithm_name:
          type: string
          x-go-name: PublicKeyAlgorithmName
        serial_number:
          type: string
          x-go-name: SerialNumber
        sha_1_fingerprint:
          type: string
          x-go-name: Sha1Fingerprint
        sha_256_fingerprint:
          type: string
          x-go-name: Sha256Fingerprint
        signature:
          type: string
          x-go-name: Signature
        signature_algorithm_name:
          type: string
          x-go-name: SignatureAlgorithmName
        subject:
          $ref: '#/components/schemas/Name'
        subject_public_key:
          type: string
          x-go-name: SubjectPublicKey
        uris:
          items:
            type: string
          type: array
          x-go-name: URIs
        version:
          format: int64
          type: integer
          x-go-name: Version
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/types
    CertificateIssueInfo:
      properties:
        cert_issuer_type:
          title: CertIssuerType represents possible certificate issuers type.
          type: string
          x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/types
        max_ttl:
          format: int64
          type: integer
          x-go-name: MaxTTL
        pki_cert_issuer_details:
          $ref: '#/components/schemas/PKICertificateIssueDetails'
        ssh_cert_issuer_details:
          $ref: '#/components/schemas/SSHCertificateIssueDetails'
      title: CertificateIssueInfo defines Certificate Issuer info.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/types
    ChefAccessMode:
      type: string
      x-go-package: akeyless.io/akeyless-main-repo/go/src/producer/config
    ClassicKeyDetailsInfo:
      properties:
        classic_key_attributes:
          additionalProperties:
            items:
              type: string
            type: array
          type: object
          x-go-name: ClassicKeyAttributes
        classic_key_id:
          type: string
          x-go-name: ClassicKeyId
        gw_cluster_id:
          format: int64
          type: integer
          x-go-name: GWClusterID
        is_provided_by_user:
          type: boolean
          x-go-name: IsProvidedByUser
        is_unexportable:
          type: boolean
          x-go-name: IsUnexportable
        key_state:
          description: ItemState defines the different states an Item can be in
          type: string
          x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/types
        key_type:
          title: ClassicKeyType defines types of keys that can be managed by ClassicKey
            supported by AKEYLESS.
          type: string
          x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/types
        last_error:
          type: string
          x-go-name: LastError
        target_alias_helper:
          type: string
          x-go-name: TargetAliasHelper
        target_types:
          items:
            type: string
          type: array
          x-go-name: TargetTypes
        targets:
          items:
            $ref: '#/components/schemas/ClassicKeyTargetInfo'
          type: array
          x-go-name: Targets
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/types
    ClassicKeyPurpose:
      description: ClassicKeyPurpose defines purpose for classic keys
      type: string
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/types
    ClassicKeyStatusInfo:
      properties:
        error_date:
          format: date-time
          type: string
          x-go-name: ErrorDate
        last_error:
          type: string
          x-go-name: LastError
        last_status:
          description: ClassicKeyTargetStatus defines status of classic key target
          type: string
          x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/types
        version:
          format: int64
          type: integer
          x-go-name: Version
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/types
    ClassicKeyTargetInfo:
      properties:
        external_kms_id:
          $ref: '#/components/schemas/ExternalKMSKeyId'
        key_purpose:
          items:
            $ref: '#/components/schemas/ClassicKeyPurpose'
          type: array
          x-go-name: Purpose
        key_status:
          $ref: '#/components/schemas/ClassicKeyStatusInfo'
        target_assoc_id:
          type: string
          x-go-name: TargetAssociationID
        target_type:
          title: TargetType ..
          type: string
          x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/types
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/types
    ClassicKeyTargetStatus:
      description: ClassicKeyTargetStatus defines status of classic key target
      type: string
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/types
    ClassicKeyType:
      title: ClassicKeyType defines types of keys that can be managed by ClassicKey
        supported by AKEYLESS.
      type: string
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/types
    ClusterApiType:
      description: ClusterApiType defines types of API access to cluster
      type: string
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/akeyless-api/gator
    ConfigChange:
      properties:
        config_hash:
          $ref: '#/components/schemas/ConfigHash'
        last_change:
          $ref: '#/components/schemas/LastConfigChange'
        last_status:
          $ref: '#/components/schemas/LastStatusInfo'
        required_activity:
          $ref: '#/components/schemas/RequiredActivity'
        update_stamp:
          format: int64
          type: integer
          x-go-name: UpdateStamp
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/akeyless-api/gator
    ConfigHash:
      properties:
        admins:
          type: string
          x-go-name: Admins
        cache:
          type: string
          x-go-name: Cache
        customer_fragements:
          type: string
          x-go-name: CFragements
        general:
          type: string
          x-go-name: General
        k8s_auths:
          type: string
          x-go-name: K8SAuths
        kmip:
          type: string
          x-go-name: KMIP
        ldap:
          type: string
          x-go-name: Ldap
        leadership:
          type: string
          x-go-name: Leadership
        log_forwarding:
          type: string
          x-go-name: LogForwarding
        m_queue:
          type: string
          x-go-name: MQueue
        migration_status:
          type: string
          x-go-name: MigrationStatus
        migrations:
          type: string
          x-go-name: Migrations
        producers:
          type: object
          x-go-name: Producers
        producers_status:
          type: string
          x-go-name: ProducersStatus
        rotators:
          type: object
          x-go-name: Rotators
        saml:
          type: string
          x-go-name: Default
        universal_identity:
          type: string
          x-go-name: UIdentity
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/akeyless-api/gator
    Connect:
      description: Connect is a command that performs secure remote access
      properties:
        Helper:
          type: object
          x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
        RcFileOverride:
          description: used to override .akeyless-connect.rc in tests
          type: string
        bastion-ctrl-path:
          description: The Bastion API path
          type: string
          x-go-name: BastionAPIPath
        bastion-ctrl-port:
          default: "9900"
          description: The Bastion API Port
          type: string
          x-go-name: BastionPort
        bastion-ctrl-proto:
          default: http
          description: The Bastion API protocol
          type: string
          x-go-name: BastionProtocol
        bastion-ctrl-subdomain:
          description: The Bastion API prefix
          type: string
          x-go-name: BastionAPIPrefix
        cert-issuer-name:
          description: The Akeyless certificate issuer name
          type: string
          x-go-name: CertIssuerName
        identity-file:
          description: The file from which the identity (private key) for public key
            authentication is read
          type: string
          x-go-name: IdentityFile
        json:
          description: Set output format to JSON
          type: boolean
          x-go-name: Json
        name:
          description: The Secret name (for database and AWS producers - producer
            name)
          type: string
          x-go-name: SecretName
        ssh-command:
          description: Path to SSH executable. e.g. /usr/bin/ssh
          type: string
          x-go-name: SSHLocation
        ssh-extra-args:
          description: The Use to add offical SSH arguments (except -i)
          type: string
          x-go-name: SSHExtraArgs
        ssh-legacy-signing-alg:
          description: Set this option to output legacy ('ssh-rsa-cert-v01@openssh.com')
            signing algorithm name in the ssh certificate.
          type: boolean
          x-go-name: SSHLegacySigningAlg
        target:
          description: The target
          type: string
          x-go-name: Target
        token:
          description: Authentication token (see `/auth` and `/configure`)
          type: string
          x-go-name: Profile
        uid-token:
          description: The universal identity token, Required only for universal_identity
            authentication
          type: string
          x-go-name: UIDToken
        via-bastion:
          description: The jump box server
          type: string
          x-go-name: ViaBastion
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    ConnectHepler:
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    CreateClassicKey:
      description: CreateClassicKey is a command that creates classic key
      properties:
        alg:
          description: 'Classic Key type; options: [AES128GCM, AES256GCM, AES128SIV,
            AES256SIV, RSA1024, RSA2048, RSA3072, RSA4096, EC256, EC384, GPG]'
          type: string
          x-go-name: Alg
        cert-file-data:
          description: Certificate in a PEM format.
          type: string
          x-go-name: CertFileData
        delete_protection:
          description: Protection from accidental deletion of this item
          type: string
          x-go-name: ItemProtected
        description:
          description: Description of the object
          type: string
          x-go-name: Description
        gpg-alg:
          description: 'gpg alg: Relevant only if GPG key type selected; options:
            [RSA1024, RSA2048, RSA3072, RSA4096, Ed25519]'
          type: string
          x-go-name: GPGAlg
        json:
          description: Set output format to JSON
          type: boolean
          x-go-name: Json
        key-data:
          description: Base64-encoded classic key value
          type: string
          x-go-name: ClassicKeyValue
        metadata:
          description: Deprecated - use description
          type: string
          x-go-name: Metadata
        name:
          description: ClassicKey name
          type: string
          x-go-name: ClassicKeyName
        protection-key-name:
          description: The name of a key that used to encrypt the secret value (if
            empty, the account default protectionKey key will be used)
          type: string
          x-go-name: ProtectionKey
        tags:
          description: List of the tags attached to this classic key
          items:
            type: string
          type: array
          x-go-name: Tags
        token:
          description: Authentication token (see `/auth` and `/configure`)
          type: string
          x-go-name: Profile
        uid-token:
          description: The universal identity token, Required only for universal_identity
            authentication
          type: string
          x-go-name: UIDToken
      required:
      - alg
      - name
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    CreateClassicKeyOutput:
      properties:
        classic_key_id:
          type: string
          x-go-name: ClassicKeyId
        classic_key_name:
          type: string
          x-go-name: ClassicKeyName
        classic_key_type:
          title: ClassicKeyType defines types of keys that can be managed by ClassicKey
            supported by AKEYLESS.
          type: string
          x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/types
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    CreatePKICertIssuer:
      properties:
        allow-any-name:
          description: If set, clients can request certificates for any CN
          type: boolean
          x-go-name: AllowAnyName
        allow-subdomains:
          description: |-
            If set, clients can request certificates for subdomains and wildcard
            subdomains of the allowed domains
          type: boolean
          x-go-name: AllowSubdomains
        allowed-domains:
          description: |-
            A list of the allowed domains that clients can request to be included in
            the certificate (in a comma-delimited list)
          type: string
          x-go-name: AllowedDomains
        allowed-uri-sans:
          description: |-
            A list of the allowed URIs that clients can request to be included in
            the certificate as part of the URI Subject Alternative Names (in a
            comma-delimited list)
          type: string
          x-go-name: AllowedURISANs
        client-flag:
          description: If set, certificates will be flagged for client auth use
          type: boolean
          x-go-name: ClientFlag
        code-signing-flag:
          description: If set, certificates will be flagged for code signing use
          type: boolean
          x-go-name: CodeSigningFlag
        country:
          description: A comma-separated list of countries that will be set in the
            issued certificate
          type: string
          x-go-name: Country
        delete_protection:
          description: Protection from accidental deletion of this item
          type: string
          x-go-name: ItemProtected
        description:
          description: Description of the object
          type: string
          x-go-name: Description
        json:
          description: Set output format to JSON
          type: boolean
          x-go-name: Json
        key-usage:
          default: DigitalSignature,KeyAgreement,KeyEncipherment
          description: key-usage
          type: string
          x-go-name: KeyUsage
        locality:
          description: A comma-separated list of localities that will be set in the
            issued certificate
          type: string
          x-go-name: Locality
        metadata:
          description: Deprecated - use description
          type: string
          x-go-name: Metadata
        name:
          description: PKI certificate issuer name
          type: string
          x-go-name: IssuerName
        not-enforce-hostnames:
          description: |-
            If set, any names are allowed for CN and SANs in the certificate and not
            only a valid host name
          type: boolean
          x-go-name: NotEnforceHostnames
        not-require-cn:
          description: If set, clients can request certificates without a CN
          type: boolean
          x-go-name: NotRequireCN
        organizational-units:
          description: |-
            A comma-separated list of organizational units (OU) that will be set in
            the issued certificate
          type: string
          x-go-name: OrganizationalUnits
        organizations:
          description: |-
            A comma-separated list of organizations (O) that will be set in the
            issued certificate
          type: string
          x-go-name: Organizations
        postal-code:
[...]
