openapi: 3.0.1
info:
  contact:
    email: support@akeyless.io
    name: Akeyless
    url: http://akeyless.io
  description: The purpose of this application is to provide access to Akeyless API.
  title: Akeyless API
  version: "2.0"
servers:
- url: https://api.akeyless.io/
paths:
  /assoc-role-am:
    post:
      operationId: assocRoleAuthMethod
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/assocRoleAuthMethod'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateRoleAuthMethodAssocOutput'
          description: assocRoleAuthMethodResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /assoc-target-item:
    post:
      operationId: assocTargetItem
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/assocTargetItem'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTargetItemAssocOutput'
          description: assocTargetItemResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /auth:
    post:
      operationId: auth
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/auth'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authOutput'
          description: authResponse wraps response body.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /configure:
    post:
      operationId: configure
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/configure'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/configureOutput'
          description: configureResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-auth-method:
    post:
      operationId: createAuthMethod
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createAuthMethod'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createAuthMethodOutput'
          description: createAuthMethodResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-auth-method-aws-iam:
    post:
      operationId: createAuthMethodAWSIAM
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createAuthMethodAWSIAM'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createAuthMethodAWSIAMOutput'
          description: createAuthMethodAWSIAMResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-auth-method-azure-ad:
    post:
      operationId: createAuthMethodAzureAD
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createAuthMethodAzureAD'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createAuthMethodAzureADOutput'
          description: createAuthMethodAzureADResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-auth-method-gcp:
    post:
      operationId: createAuthMethodGCP
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createAuthMethodGCP'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createAuthMethodGCPOutput'
          description: createAuthMethodGCPResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-auth-method-huawei:
    post:
      operationId: createAuthMethodHuawei
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createAuthMethodHuawei'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createAuthMethodHuaweiOutput'
          description: createAuthMethodHuaweiResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-auth-method-oauth2:
    post:
      operationId: createAuthMethodOAuth2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createAuthMethodOAuth2'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createAuthMethodOAuth2Output'
          description: createAuthMethodOAuth2Response wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-auth-method-saml:
    post:
      operationId: createAuthMethodSAML
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createAuthMethodSAML'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createAuthMethodSAMLOutput'
          description: createAuthMethodSAMLResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-auth-method-universal-identity:
    post:
      operationId: createAuthMethodUniversalIdentity
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createAuthMethodUniversalIdentity'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createAuthMethodUniversalIdentityOutput'
          description: createAuthMethodUniversalIdentityResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-aws-target:
    post:
      operationId: createAwsTarget
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createAwsTarget'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createTargetOutput'
          description: createTargetResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-db-target:
    post:
      operationId: createDBTarget
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createDBTarget'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createTargetOutput'
          description: createTargetResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-dynamic-secret:
    post:
      operationId: createDynamicSecret
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createDynamicSecret'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createDynamicSecretOutput'
          description: createDynamicSecretResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-key:
    post:
      operationId: createKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createKey'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createKeyOutput'
          description: createKeyResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-managed-key:
    post:
      operationId: CreateManagedKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateManagedKey'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateManagedKeyOutput'
          description: CreateManagedKeyResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-pki-cert-issuer:
    post:
      operationId: createPKICertIssuer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createPKICertIssuer'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createPKICertIssuerOutput'
          description: createPKICertIssuerResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-rabbitMQ-target:
    post:
      operationId: createRabbitMQTarget
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createRabbitMQTarget'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createTargetOutput'
          description: createTargetResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-rdp-target:
    post:
      operationId: createRdpTarget
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createRdpTarget'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createTargetOutput'
          description: createTargetResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-role:
    post:
      operationId: createRole
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createRole'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createRoleOutput'
          description: createRoleResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-rotated-secret:
    post:
      operationId: createRotatedSecret
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createRotatedSecret'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createRotatedSecretOutput'
          description: createRotatedSecretResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-secret:
    post:
      operationId: createSecret
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createSecret'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createSecretOutput'
          description: createSecretResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-ssh-cert-issuer:
    post:
      operationId: createSSHCertIssuer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createSSHCertIssuer'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createSSHCertIssuerOutput'
          description: createSSHCertIssuerResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-ssh-target:
    post:
      operationId: createSSHTarget
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createSSHTarget'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createTargetOutput'
          description: createTargetResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-target:
    post:
      operationId: createTarget
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createTarget'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createTargetOutput'
          description: createTargetResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-web-target:
    post:
      operationId: createWebTarget
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createWebTarget'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createTargetOutput'
          description: createTargetResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /decrypt:
    post:
      operationId: decrypt
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/decrypt'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/decryptOutput'
          description: decryptResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /decrypt-pkcs1:
    post:
      operationId: decryptPKCS1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/decryptPKCS1'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/decryptPKCS1Output'
          description: decryptPKCS1Response wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /delete-assoc:
    post:
      operationId: deleteRoleAssociation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deleteRoleAssociation'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteRoleAssociationOutput'
          description: deleteRoleAssociationResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /delete-assoc-target-item:
    post:
      operationId: deleteTargetAssociation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deleteTargetAssociation'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteTargetAssociationOutput'
          description: deleteTargetAssociationResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /delete-auth-method:
    post:
      operationId: deleteAuthMethod
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deleteAuthMethod'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAuthMethodOutput'
          description: deleteAuthMethodResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /delete-auth-methods:
    post:
      operationId: deleteAuthMethods
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deleteAuthMethods'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAuthMethodsOutput'
          description: deleteAuthMethodsResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /delete-item:
    post:
      operationId: deleteItem
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deleteItem'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteItemOutput'
          description: deleteItemResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /delete-items:
    post:
      operationId: deleteItems
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deleteItems'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteItemsOutput'
          description: deleteItemsResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /delete-role:
    post:
      operationId: deleteRole
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deleteRole'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteRoleOutput'
          description: deleteRoleResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /delete-role-rule:
    post:
      operationId: deleteRoleRule
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deleteRoleRule'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteRoleRuleOutput'
          description: deleteRoleRuleResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /delete-roles:
    post:
      operationId: deleteRoles
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deleteRoles'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteRolesOutput'
          description: deleteRolesResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /delete-target:
    post:
      operationId: deleteTarget
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deleteTarget'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteTargetOutput'
          description: deleteTargetResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /delete-targets:
    post:
      operationId: deleteTargets
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deleteTargets'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteTargetsOutput'
          description: deleteTargetsResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /describe-item:
    post:
      operationId: describeItem
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/describeItem'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Item'
          description: describeItemResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /describe-permissions:
    post:
      operationId: describePermissions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/describePermissions'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribePermissionsOutput'
          description: DescribePermissionsResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /encrypt:
    post:
      operationId: encrypt
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/encrypt'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EncryptOutput'
          description: encryptResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /encrypt-pkcs1:
    post:
      operationId: encryptPKCS1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/encryptPKCS1'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/encryptPKCS1Output'
          description: encryptPKCS1Response wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /gateway-add-sub-admins:
    post:
      operationId: gatewayAddSubAdmins
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayAddSubAdmins'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayAddSubAdminsOutput'
          description: gatewayAddSubAdminsResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /gateway-create-producer-artifactory:
    post:
      operationId: gatewayCreateProducerArtifactory
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayCreateProducerArtifactory'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayCreateProducerArtifactoryOutput'
          description: gatewayCreateProducerArtifactoryResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /gateway-create-producer-aws:
    post:
      operationId: gatewayCreateProducerAws
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayCreateProducerAws'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayCreateProducerAwsOutput'
          description: gatewayCreateProducerAwsResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /gateway-create-producer-azure:
    post:
      operationId: gatewayCreateProducerAzure
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayCreateProducerAzure'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayCreateProducerAzureOutput'
          description: gatewayCreateProducerAzureResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /gateway-create-producer-certificate-automation:
    post:
      operationId: gatewayCreateProducerCertificateAutomation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayCreateProducerCertificateAutomation'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayCreateProducerCertificateAutomationOutput'
          description: gatewayCreateProducerCertificateAutomationResponse wraps response
            body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /gateway-create-producer-custom:
    post:
      operationId: gatewayCreateProducerCustom
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayCreateProducerCustom'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayCreateProducerCustomOutput'
          description: gatewayCreateProducerCustomResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /gateway-create-producer-eks:
    post:
      operationId: gatewayCreateProducerEks
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayCreateProducerEks'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayCreateProducerEksOutput'
          description: gatewayCreateProducerEksResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /gateway-create-producer-gcp:
    post:
      operationId: gatewayCreateProducerGcp
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayCreateProducerGcp'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayCreateProducerGcpOutput'
          description: gatewayCreateProducerGcpResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /gateway-create-producer-gke:
    post:
      operationId: gatewayCreateProducerGke
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayCreateProducerGke'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayCreateProducerGkeOutput'
          description: gatewayCreateProducerGkeResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /gateway-create-producer-mongo:
    post:
      operationId: gatewayCreateProducerMongo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayCreateProducerMongo'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayCreateProducerMongoOutput'
          description: gatewayCreateProducerMongoResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /gateway-create-producer-mssql:
    post:
      operationId: gatewayCreateProducerMSSQL
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayCreateProducerMSSQL'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayCreateProducerMSSQLOutput'
          description: gatewayCreateProducerMSSQLResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /gateway-create-producer-mysql:
    post:
      operationId: gatewayCreateProducerMySQL
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayCreateProducerMySQL'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayCreateProducerMySQLOutput'
          description: gatewayCreateProducerMySQLResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /gateway-create-producer-postgresql:
    post:
      operationId: gatewayCreateProducerPostgreSQL
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayCreateProducerPostgreSQL'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayCreateProducerPostgreSQLOutput'
          description: gatewayCreateProducerPostgreSQLResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /gateway-create-producer-rabbitmq:
    post:
      operationId: gatewayCreateProducerRabbitMQ
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayCreateProducerRabbitMQ'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayCreateProducerRabbitMQOutput'
          description: gatewayCreateProducerRabbitMQResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /gateway-create-producer-rdp:
    post:
      operationId: gatewayCreateProducerRdp
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayCreateProducerRdp'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayCreateProducerRdpOutput'
          description: gatewayCreateProducerRdpResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /gateway-delete-producer:
    post:
      operationId: gatewayDeleteProducer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayDeleteProducer'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayDeleteProducerOutput'
          description: gatewayDeleteProducerResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /gateway-delete-sub-admins:
    post:
      operationId: gatewayDeleteSubAdmins
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayDeleteSubAdmins'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayDeleteSubAdminsOutput'
          description: gatewayDeleteSubAdminsResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /gateway-get-config:
    post:
      operationId: gatewayGetConfig
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayGetConfig'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AkeylessGatewayConfig'
          description: gatewayGetConfigResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /gateway-get-producer:
    post:
      operationId: gatewayGetProducer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayGetProducer'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DSProducerDetails'
          description: gatewayGetProducerResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /gateway-get-producer-tmp-creds:
    post:
      operationId: gatewayGetTmpUsers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayGetTmpUsers'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TmpUserData'
                type: array
          description: gatewayGetTmpUsersResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /gateway-list-SubAdmins:
    post:
      operationId: gatewayListSubAdmins
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayListSubAdmins'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSubAdminsListReplyObj'
          description: gatewayListSubAdminsResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /gateway-list-producers:
    post:
      operationId: gatewayListProducers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayListProducers'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetProducersListReplyObj'
          description: gatewayListProducersResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /gateway-revoke-producer-tmp-creds:
    post:
      operationId: gatewayRevokeTmpUsers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayRevokeTmpUsers'
        required: true
      responses:
        "200":
          content: {}
          description: gatewayRevokeTmpUsersResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /gateway-start-producer:
    post:
      operationId: gatewayStartProducer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayStartProducer'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayStartProducerOutput'
          description: gatewayStartProducerResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /gateway-stop-producer:
    post:
      operationId: gatewayStopProducer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayStopProducer'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayStopProducerOutput'
          description: gatewayStopProducerResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /gateway-update-producer-tmp-creds:
    post:
      operationId: gatewayUpdateTmpUsers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayUpdateTmpUsers'
        required: true
      responses:
        "200":
          content: {}
          description: gatewayUpdateTmpUsersResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /get-account-logo:
    post:
      operationId: getAccountLogo
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
          description: getAccountLogoResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
  /get-auth-method:
    post:
      operationId: getAuthMethod
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getAuthMethod'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthMethod'
          description: getAuthMethodResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /get-dynamic-secret-value:
    post:
      operationId: getDynamicSecretValue
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getDynamicSecretValue'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
          description: getDynamicSecretValueResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /get-kube-exec-creds:
    post:
      operationId: getKubeExecCreds
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getKubeExecCreds'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getKubeExecCredsOutput'
          description: getKubeExecCredsResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /get-pki-certificate:
    post:
      operationId: GetPKICertificate
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getPKICertificateOutput'
          description: getPKICertificateResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
  /get-role:
    post:
      operationId: getRole
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getRole'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
          description: getRoleResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /get-rotated-secret-value:
    post:
      operationId: getRotatedSecretValue
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getRotatedSecretValue'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
          description: getRotatedSecretValueResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /get-rsa-public:
    post:
      operationId: getRSAPublic
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getRSAPublic'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getRSAPublicOutput'
          description: getRSAPublicResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /get-secret-value:
    post:
      operationId: getSecretValue
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getSecretValue'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
          description: getSecretValueResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /get-ssh-certificate:
    post:
      operationId: getSSHCertificate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getSSHCertificate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSSHCertificateOutput'
          description: getSSHCertificateResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /get-target:
    post:
      operationId: getTarget
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getTarget'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Target'
          description: getTargetResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /get-target-details:
    post:
      operationId: getTargetDetails
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getTargetDetails'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTargetDetailsOutput'
          description: getTargetDetailsResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /list-auth-methods:
    post:
      operationId: listAuthMethods
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/listAuthMethods'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAuthMethodsOutput'
          description: listAuthMethodsResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /list-items:
    post:
      operationId: listItems
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/listItems'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListItemsInPathOutput'
          description: listItemsResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /list-roles:
    post:
      operationId: listRoles
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/listRoles'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRolesOutput'
          description: listRolesResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /list-targets:
    post:
      operationId: listTargets
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/listTargets'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTargetsOutput'
          description: listTargetsResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /move-objects:
    post:
      operationId: moveObjects
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/moveObjects'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/moveObjectsOutput'
          description: moveObjectsResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /raw-creds:
    post:
      operationId: rawCreds
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/rawCreds'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemAccessCredentialsReplyObj'
          description: rawCredsResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /refresh-key:
    post:
      operationId: refreshKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/refreshKey'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/refreshKeyOutput'
          description: refreshKeyResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /reverse-rbac:
    post:
      operationId: reverseRBAC
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/reverseRBAC'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReverseRBACOutput'
          description: reverseRBACResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /rollback-secret:
    post:
      operationId: rollbackSecret
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/rollbackSecret'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rollbackSecretOutput'
          description: rollbackSecretResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /rotate-key:
    post:
      operationId: rotateKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateRotationSettings'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RotateKeyOutput'
          description: rotateKeyResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /set-item-state:
    post:
      operationId: setItemState
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/setItemState'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/setItemStateOutput'
          description: setItemStateResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /set-role-rule:
    post:
      operationId: setRoleRule
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/setRoleRule'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/setRoleRuleOutput'
          description: setRoleRuleResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /sign-pkcs1:
    post:
      operationId: signPKCS1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/signPKCS1'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/signPKCS1Output'
          description: signPKCS1Response wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /static-creds-auth:
    post:
      operationId: staticCredsAuth
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/staticCredsAuth'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/staticCredsAuthOutput'
          description: staticCredsAuthResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /uid-create-child-token:
    post:
      operationId: uidCreateChildToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/uidCreateChildToken'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/uidCreateChildTokenOutput'
          description: uidCreateChildTokenResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /uid-generate-token:
    post:
      operationId: uidGenerateToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/uidGenerateToken'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/uidGenerateTokenOutput'
          description: uidGenerateTokenResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /uid-list-children:
    post:
      operationId: uidListChildren
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/uidListChildren'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UniversalIdentityDetails'
          description: uidListChildrenResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /uid-revoke-token:
    post:
      operationId: uidRevokeToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/uidRevokeToken'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/uidRevokeTokenOutput'
          description: uidRevokeTokenResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /uid-rotate-token:
    post:
      operationId: uidRotateToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/uidRotateToken'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/uidRotateTokenOutput'
          description: uidRotateTokenResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /update-aws-target-details:
    post:
      operationId: updateAWSTargetDetails
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateAWSTargetDetails'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateTargetOutput'
          description: updateTargetResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /update-db-target-details:
    post:
      operationId: updateDBTargetDetails
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateDBTargetDetails'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateTargetOutput'
          description: updateTargetResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /update-item:
    post:
      operationId: updateItem
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateItem'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateItemOutput'
          description: updateItemResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /update-managed-key:
    post:
      operationId: gatewayUpdateItem
      responses:
        "201":
          $ref: '#/components/responses/gatewayUpdateItemResponse'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
  /update-rabbitmq-target-details:
    post:
      operationId: updateRabbitMQTargetDetails
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateRabbitMQTargetDetails'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateTargetOutput'
          description: updateTargetResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /update-rdp-target-details:
    post:
      operationId: updateRDPTargetDetails
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateRDPTargetDetails'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateTargetOutput'
          description: updateTargetResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /update-role:
    post:
      operationId: updateRole
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateRole'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateRoleOutput'
          description: updateRoleResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /update-rotated-secret:
    post:
      operationId: updateRotatedSecret
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateRotatedSecret'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateRotatedSecretOutput'
          description: updateRotatedSecretResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /update-rotation-settingsrotate-key:
    post:
      operationId: updateRotationSettings
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RotateKeyOutput'
          description: rotateKeyResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
  /update-secret-val:
    post:
      operationId: updateSecretVal
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateSecretVal'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateSecretValOutput'
          description: updateSecretValResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /update-ssh-target-details:
    post:
      operationId: updateSSHTargetDetails
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateSSHTargetDetails'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateTargetOutput'
          description: updateTargetResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /update-target:
    post:
      operationId: updateTarget
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateTarget'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateTargetOutput'
          description: updateTargetResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /update-target-details:
    post:
      operationId: updateTargetDetails
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateTargetDetails'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateTargetOutput'
          description: updateTargetResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /update-web-target-details:
    post:
      operationId: updateWebTargetDetails
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateWebTargetDetails'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateTargetOutput'
          description: updateTargetResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /upload-rsa:
    post:
      operationId: uploadRSA
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/uploadRSA'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/uploadRSAOutput'
          description: uploadRSAResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /verify-pkcs1:
    post:
      operationId: verifyPKCS1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/verifyPKCS1'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/verifyPKCS1Output'
          description: verifyPKCS1Response wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
components:
  responses:
    CreateManagedKeyResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateManagedKeyOutput'
      description: CreateManagedKeyResponse wraps response body.
    DescribePermissionsResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DescribePermissionsOutput'
      description: DescribePermissionsResponse wraps response body.
    assocRoleAuthMethodResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateRoleAuthMethodAssocOutput'
      description: assocRoleAuthMethodResponse wraps response body.
    assocTargetItemResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateTargetItemAssocOutput'
      description: assocTargetItemResponse wraps response body.
    authResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/authOutput'
      description: authResponse wraps response body.
    configureResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/configureOutput'
      description: configureResponse wraps response body.
    createAuthMethodAWSIAMResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createAuthMethodAWSIAMOutput'
      description: createAuthMethodAWSIAMResponse wraps response body.
    createAuthMethodAzureADResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createAuthMethodAzureADOutput'
      description: createAuthMethodAzureADResponse wraps response body.
    createAuthMethodGCPResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createAuthMethodGCPOutput'
      description: createAuthMethodGCPResponse wraps response body.
    createAuthMethodHuaweiResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createAuthMethodHuaweiOutput'
      description: createAuthMethodHuaweiResponse wraps response body.
    createAuthMethodLDAPResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createAuthMethodLDAPOutput'
      description: createAuthMethodLDAPResponse wraps response body.
    createAuthMethodOAuth2Response:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createAuthMethodOAuth2Output'
      description: createAuthMethodOAuth2Response wraps response body.
    createAuthMethodResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createAuthMethodOutput'
      description: createAuthMethodResponse wraps response body.
    createAuthMethodSAMLResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createAuthMethodSAMLOutput'
      description: createAuthMethodSAMLResponse wraps response body.
    createAuthMethodUniversalIdentityResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createAuthMethodUniversalIdentityOutput'
      description: createAuthMethodUniversalIdentityResponse wraps response body.
    createDynamicSecretResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createDynamicSecretOutput'
      description: createDynamicSecretResponse wraps response body.
    createKeyResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createKeyOutput'
      description: createKeyResponse wraps response body.
    createPKICertIssuerResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createPKICertIssuerOutput'
      description: createPKICertIssuerResponse wraps response body.
    createRoleResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createRoleOutput'
      description: createRoleResponse wraps response body.
    createRotatedSecretResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createRotatedSecretOutput'
      description: createRotatedSecretResponse wraps response body.
    createSSHCertIssuerResponse:
      content:
        application/json:
          schema:
[...]
