openapi: 3.0.1
info:
  contact:
    email: support@akeyless.io
    name: Akeyless
    url: http://akeyless.io
  description: The purpose of this application is to provide access to Akeyless API.
  title: Akeyless API
  version: 2.0.1
servers:
- url: https://api.akeyless.io/
paths:
  /assoc-role-am:
    post:
      operationId: assocRoleAuthMethod
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/assocRoleAuthMethod'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateRoleAuthMethodAssocOutput'
          description: assocRoleAuthMethodResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /auth:
    post:
      operationId: auth
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/auth'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authOutput'
          description: authResponse wraps response body.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /configure:
    post:
      operationId: configure
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/configure'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/configureOutput'
          description: configureResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-auth-method:
    post:
      operationId: createAuthMethod
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createAuthMethod'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createAuthMethodOutput'
          description: createAuthMethodResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-auth-method-aws-iam:
    post:
      operationId: createAuthMethodAWSIAM
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createAuthMethodAWSIAM'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createAuthMethodAWSIAMOutput'
          description: createAuthMethodAWSIAMResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-auth-method-azure-ad:
    post:
      operationId: createAuthMethodAzureAD
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createAuthMethodAzureAD'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createAuthMethodAzureADOutput'
          description: createAuthMethodAzureADResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-auth-method-huawei:
    post:
      operationId: createAuthMethodHuawei
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createAuthMethodHuawei'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createAuthMethodHuaweiOutput'
          description: createAuthMethodHuaweiResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-auth-method-oauth2:
    post:
      operationId: createAuthMethodOAuth2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createAuthMethodOAuth2'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createAuthMethodOAuth2Output'
          description: createAuthMethodOAuth2Response wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-auth-method-saml:
    post:
      operationId: createAuthMethodSAML
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createAuthMethodSAML'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createAuthMethodSAMLOutput'
          description: createAuthMethodSAMLResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-auth-method-universal-identity:
    post:
      operationId: createAuthMethodUniversalIdentity
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createAuthMethodUniversalIdentity'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createAuthMethodUniversalIdentityOutput'
          description: createAuthMethodUniversalIdentityResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-dynamic-secret:
    post:
      operationId: createDynamicSecret
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createDynamicSecret'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createDynamicSecretOutput'
          description: createDynamicSecretResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-key:
    post:
      operationId: createKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createKey'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createKeyOutput'
          description: createKeyResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-pki-cert-issuer:
    post:
      operationId: createPKICertIssuer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createPKICertIssuer'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createPKICertIssuerOutput'
          description: createPKICertIssuerResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-role:
    post:
      operationId: createRole
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createRole'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createRoleOutput'
          description: createRoleResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-secret:
    post:
      operationId: createSecret
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createSecret'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createSecretOutput'
          description: createSecretResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-ssh-cert-issuer:
    post:
      operationId: createSSHCertIssuer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createSSHCertIssuer'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createSSHCertIssuerOutput'
          description: createSSHCertIssuerResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /decrypt:
    post:
      operationId: decrypt
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/decrypt'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/decryptOutput'
          description: decryptResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /decrypt-pkcs1:
    post:
      operationId: decryptPKCS1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/decryptPKCS1'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/decryptPKCS1Output'
          description: decryptPKCS1Response wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /delete-assoc:
    post:
      operationId: deleteRoleAssociation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deleteRoleAssociation'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteRoleAssociationOutput'
          description: deleteRoleAssociationResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /delete-auth-method:
    post:
      operationId: deleteAuthMethod
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deleteAuthMethod'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAuthMethodOutput'
          description: deleteAuthMethodResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /delete-auth-methods:
    post:
      operationId: deleteAuthMethods
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deleteAuthMethods'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAuthMethodsOutput'
          description: deleteAuthMethodsResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /delete-item:
    post:
      operationId: deleteItem
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deleteItem'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteItemOutput'
          description: deleteItemResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /delete-items:
    post:
      operationId: deleteItems
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deleteItems'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteItemsOutput'
          description: deleteItemsResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /delete-role:
    post:
      operationId: deleteRole
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deleteRole'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteRoleOutput'
          description: deleteRoleResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /delete-role-rule:
    post:
      operationId: deleteRoleRule
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deleteRoleRule'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteRoleRuleOutput'
          description: deleteRoleRuleResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /delete-roles:
    post:
      operationId: deleteRoles
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deleteRoles'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteRolesOutput'
          description: deleteRolesResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /describe-item:
    post:
      operationId: describeItem
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/describeItem'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Item'
          description: describeItemResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /encrypt:
    post:
      operationId: encrypt
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/encrypt'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EncryptOutput'
          description: encryptResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /encrypt-pkcs1:
    post:
      operationId: encryptPKCS1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/encryptPKCS1'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/encryptPKCS1Output'
          description: encryptPKCS1Response wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /get-auth-method:
    post:
      operationId: getAuthMethod
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getAuthMethod'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthMethod'
          description: getAuthMethodResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /get-dynamic-secret-value:
    post:
      operationId: getDynamicSecretValue
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getDynamicSecretValue'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
          description: getDynamicSecretValueResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /get-role:
    post:
      operationId: getRole
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getRole'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
          description: getRoleResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /get-rsa-public:
    post:
      operationId: getRSAPublic
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getRSAPublic'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getRSAPublicOutput'
          description: getRSAPublicResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /get-secret-value:
    post:
      operationId: getSecretValue
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getSecretValue'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
          description: getSecretValueResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /get-ssh-certificate:
    post:
      operationId: getSSHCertificate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getSSHCertificate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSSHCertificateOutput'
          description: getSSHCertificateResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /list-auth-methods:
    post:
      operationId: listAuthMethods
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/listAuthMethods'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAuthMethodsOutput'
          description: listAuthMethodsResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /list-items:
    post:
      operationId: listItems
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/listItems'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListItemsInPathOutput'
          description: listItemsResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /list-roles:
    post:
      operationId: listRoles
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/listRoles'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRolesOutput'
          description: listRolesResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /move-objects:
    post:
      operationId: moveObjects
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/moveObjects'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/moveObjectsOutput'
          description: moveObjectsResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /refresh-key:
    post:
      operationId: refreshKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/refreshKey'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/refreshKeyOutput'
          description: refreshKeyResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /reverse-rbac:
    post:
      operationId: reverseRBAC
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/reverseRBAC'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReverseRBACOutput'
          description: reverseRBACResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /rollback-secret:
    post:
      operationId: rollbackSecret
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/rollbackSecret'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rollbackSecretOutput'
          description: rollbackSecretResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /rotate-key:
    post:
      operationId: rotateKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/rotateKey'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RotateKeyOutput'
          description: rotateKeyResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /set-item-state:
    post:
      operationId: setItemState
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/setItemState'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/setItemStateOutput'
          description: setItemStateResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /set-role-rule:
    post:
      operationId: setRoleRule
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/setRoleRule'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/setRoleRuleOutput'
          description: setRoleRuleResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /sign-pkcs1:
    post:
      operationId: signPKCS1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/signPKCS1'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/signPKCS1Output'
          description: signPKCS1Response wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /static-creds-auth:
    post:
      operationId: staticCredsAuth
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/staticCredsAuth'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/staticCredsAuthOutput'
          description: staticCredsAuthResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /uid-create-child-token:
    post:
      operationId: uidCreateChildToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/uidCreateChildToken'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/uidCreateChildTokenOutput'
          description: uidCreateChildTokenResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /uid-generate-token:
    post:
      operationId: uidGenerateToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/uidGenerateToken'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/uidGenerateTokenOutput'
          description: uidGenerateTokenResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /uid-list-children:
    post:
      operationId: uidListChildren
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/uidListChildren'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UniversalIdentityDetails'
          description: uidListChildrenResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /uid-revoke-token:
    post:
      operationId: uidRevokeToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/uidRevokeToken'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/uidRevokeTokenOutput'
          description: uidRevokeTokenResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /uid-rotate-token:
    post:
      operationId: uidRotateToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/uidRotateToken'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/uidRotateTokenOutput'
          description: uidRotateTokenResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /update-item:
    post:
      operationId: updateItem
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateItem'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateItemOutput'
          description: updateItemResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /update-role:
    post:
      operationId: updateRole
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateRole'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateRoleOutput'
          description: updateRoleResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /update-secret-val:
    post:
      operationId: updateSecretVal
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateSecretVal'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateSecretValOutput'
          description: updateSecretValResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /upload-rsa:
    post:
      operationId: uploadRSA
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/uploadRSA'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/uploadRSAOutput'
          description: uploadRSAResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /verify-pkcs1:
    post:
      operationId: verifyPKCS1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/verifyPKCS1'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/verifyPKCS1Output'
          description: verifyPKCS1Response wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
components:
  responses:
    assocRoleAuthMethodResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateRoleAuthMethodAssocOutput'
      description: assocRoleAuthMethodResponse wraps response body.
    authResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/authOutput'
      description: authResponse wraps response body.
    configureResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/configureOutput'
      description: configureResponse wraps response body.
    createAuthMethodAWSIAMResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createAuthMethodAWSIAMOutput'
      description: createAuthMethodAWSIAMResponse wraps response body.
    createAuthMethodAzureADResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createAuthMethodAzureADOutput'
      description: createAuthMethodAzureADResponse wraps response body.
    createAuthMethodHuaweiResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createAuthMethodHuaweiOutput'
      description: createAuthMethodHuaweiResponse wraps response body.
    createAuthMethodLDAPResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createAuthMethodLDAPOutput'
      description: createAuthMethodLDAPResponse wraps response body.
    createAuthMethodOAuth2Response:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createAuthMethodOAuth2Output'
      description: createAuthMethodOAuth2Response wraps response body.
    createAuthMethodResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createAuthMethodOutput'
      description: createAuthMethodResponse wraps response body.
    createAuthMethodSAMLResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createAuthMethodSAMLOutput'
      description: createAuthMethodSAMLResponse wraps response body.
    createAuthMethodUniversalIdentityResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createAuthMethodUniversalIdentityOutput'
      description: createAuthMethodUniversalIdentityResponse wraps response body.
    createDynamicSecretResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createDynamicSecretOutput'
      description: createDynamicSecretResponse wraps response body.
    createKeyResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createKeyOutput'
      description: createKeyResponse wraps response body.
    createPKICertIssuerResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createPKICertIssuerOutput'
      description: createPKICertIssuerResponse wraps response body.
    createRoleResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createRoleOutput'
      description: createRoleResponse wraps response body.
    createSSHCertIssuerResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createSSHCertIssuerOutput'
      description: createSSHCertIssuerResponse wraps response body.
    createSecretResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createSecretOutput'
      description: createSecretResponse wraps response body.
    decryptFileResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/decryptFileOutput'
      description: decryptFileResponse wraps response body.
    decryptPKCS1Response:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/decryptPKCS1Output'
      description: decryptPKCS1Response wraps response body.
    decryptResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/decryptOutput'
      description: decryptResponse wraps response body.
    deleteAuthMethodResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/deleteAuthMethodOutput'
      description: deleteAuthMethodResponse wraps response body.
    deleteAuthMethodsResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/deleteAuthMethodsOutput'
      description: deleteAuthMethodsResponse wraps response body.
    deleteItemResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DeleteItemOutput'
      description: deleteItemResponse wraps response body.
    deleteItemsResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/deleteItemsOutput'
      description: deleteItemsResponse wraps response body.
    deleteRoleAssociationResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/deleteRoleAssociationOutput'
      description: deleteRoleAssociationResponse wraps response body.
    deleteRoleResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/deleteRoleOutput'
      description: deleteRoleResponse wraps response body.
    deleteRoleRuleResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/deleteRoleRuleOutput'
      description: deleteRoleRuleResponse wraps response body.
    deleteRolesResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/deleteRolesOutput'
      description: deleteRolesResponse wraps response body.
    describeItemResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Item'
      description: describeItemResponse wraps response body.
    encryptFileResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/encryptFileOutput'
      description: encryptFileResponse wraps response body.
    encryptPKCS1Response:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/encryptPKCS1Output'
      description: encryptPKCS1Response wraps response body.
    encryptResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/EncryptOutput'
      description: encryptResponse wraps response body.
    errorResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/JSONError'
      description: |-
        errorResponse wraps any error to return it as a JSON object with one "error"
        field.
    genCustomerFragmentResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CustomerFragmentsJson'
      description: genCustomerFragmentResponse wraps response body.
    getAuthMethodResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AuthMethod'
      description: getAuthMethodResponse wraps response body.
    getCloudIdentityResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/getCloudIdentityOutput'
      description: getCloudIdentityResponse wraps response body.
    getDynamicSecretValueResponse:
      content:
        application/json:
          schema:
            additionalProperties:
              type: string
            type: object
      description: getDynamicSecretValueResponse wraps response body.
    getKubeExecCredsResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/getKubeExecCredsOutput'
      description: getKubeExecCredsResponse wraps response body.
    getPKICertificateResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/getPKICertificateOutput'
      description: getPKICertificateResponse wraps response body.
    getRSAPublicResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/getRSAPublicOutput'
      description: getRSAPublicResponse wraps response body.
    getRoleResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Role'
      description: getRoleResponse wraps response body.
    getSSHCertificateResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/getSSHCertificateOutput'
      description: getSSHCertificateResponse wraps response body.
    getSecretValueResponse:
      content:
        application/json:
          schema:
            additionalProperties:
              type: string
            type: object
      description: getSecretValueResponse wraps response body.
    listAuthMethodsResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListAuthMethodsOutput'
      description: listAuthMethodsResponse wraps response body.
    listItemsResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListItemsInPathOutput'
      description: listItemsResponse wraps response body.
    listRolesResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListRolesOutput'
      description: listRolesResponse wraps response body.
    moveObjectsResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/moveObjectsOutput'
      description: moveObjectsResponse wraps response body.
    refreshKeyResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/refreshKeyOutput'
      description: refreshKeyResponse wraps response body.
    reverseRBACResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ReverseRBACOutput'
      description: reverseRBACResponse wraps response body.
    rollbackSecretResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/rollbackSecretOutput'
      description: rollbackSecretResponse wraps response body.
    rotateKeyResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RotateKeyOutput'
      description: rotateKeyResponse wraps response body.
    setItemStateResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/setItemStateOutput'
      description: setItemStateResponse wraps response body.
    setRoleRuleResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/setRoleRuleOutput'
      description: setRoleRuleResponse wraps response body.
    signPKCS1Response:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/signPKCS1Output'
      description: signPKCS1Response wraps response body.
    staticCredsAuthResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/staticCredsAuthOutput'
      description: staticCredsAuthResponse wraps response body.
    uidCreateChildTokenResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/uidCreateChildTokenOutput'
      description: uidCreateChildTokenResponse wraps response body.
    uidGenerateTokenResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/uidGenerateTokenOutput'
      description: uidGenerateTokenResponse wraps response body.
    uidListChildrenResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UniversalIdentityDetails'
      description: uidListChildrenResponse wraps response body.
    uidRevokeTokenResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/uidRevokeTokenOutput'
      description: uidRevokeTokenResponse wraps response body.
    uidRotateTokenResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/uidRotateTokenOutput'
      description: uidRotateTokenResponse wraps response body.
    unconfigureResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/unconfigureOutput'
      description: unconfigureResponse wraps response body.
    updateItemResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/updateItemOutput'
      description: updateItemResponse wraps response body.
    updateResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/updateOutput'
      description: updateResponse wraps response body.
    updateRoleResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/updateRoleOutput'
      description: updateRoleResponse wraps response body.
    updateSecretValResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/updateSecretValOutput'
      description: updateSecretValResponse wraps response body.
    uploadPKCS12Response:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/uploadPKCS12Output'
      description: uploadPKCS12Response wraps response body.
    uploadRSAResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/uploadRSAOutput'
      description: uploadRSAResponse wraps response body.
    verifyPKCS1Response:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/verifyPKCS1Output'
      description: verifyPKCS1Response wraps response body.
  schemas:
    APIKeyAccessRules:
      example:
        alg: alg
        key: key
      properties:
        alg:
          title: Algorithm is a type that represents a single crypto algorithm.
          type: string
          x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/types
        key:
          description: The public key value of the API-key.
          type: string
          x-go-name: PubKeyValue
      title: APIKeyAccessRules is a set of rules for API Key access type.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/types
    AWSIAMAccessRules:
      example:
        role_name:
        - role_name
        - role_name
        account_id:
        - account_id
        - account_id
        role_id:
        - role_id
        - role_id
        user_id:
        - user_id
        - user_id
        user_name:
        - user_name
        - user_name
        resource_id:
        - resource_id
        - resource_id
        sts_endpoint: sts_endpoint
        arn:
        - arn
        - arn
      properties:
        account_id:
          description: The list of account ids that the login is restricted to.
          items:
            type: string
          type: array
          x-go-name: AccountID
        arn:
          description: The list of ARNs that the login is restricted to.
          items:
            type: string
          type: array
          x-go-name: Arn
        resource_id:
          description: The list of resource ids that the login is restricted to.
          items:
            type: string
          type: array
          x-go-name: ResourceID
        role_id:
          description: The list of role ids that the login is restricted to.
          items:
            type: string
          type: array
          x-go-name: RoleID
        role_name:
          description: The list of role names that the login is restricted to.
          items:
            type: string
          type: array
          x-go-name: RoleName
        sts_endpoint:
          description: The sts URL.
          type: string
          x-go-name: StsEndpoint
        user_id:
          description: The list of user ids that the login is restricted to.
          items:
            type: string
          type: array
          x-go-name: UserID
        user_name:
          description: The list of user names that the login is restricted to.
          items:
            type: string
          type: array
          x-go-name: UserName
      title: AWSIAMAccessRules contains access rules specific to AWS IAM.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/types
    Algorithm:
      title: Algorithm is a type that represents a single crypto algorithm.
      type: string
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/types
    AuthMethod:
      example:
        account_id: account_id
        auth_method_roles_assoc:
        - role_name: role_name
          assoc_id: assoc_id
          rules:
            path_rules:
            - path: path
              capabilities:
              - capabilities
              - capabilities
              type: type
            - path: path
              capabilities:
              - capabilities
              - capabilities
              type: type
            admin: true
          auth_method_sub_claims:
            key:
            - auth_method_sub_claims
            - auth_method_sub_claims
        - role_name: role_name
          assoc_id: assoc_id
          rules:
            path_rules:
            - path: path
              capabilities:
              - capabilities
              - capabilities
              type: type
            - path: path
              capabilities:
              - capabilities
              - capabilities
              type: type
            admin: true
          auth_method_sub_claims:
            key:
            - auth_method_sub_claims
            - auth_method_sub_claims
        client_permissions:
        - client_permissions
        - client_permissions
        access_info:
          cidr_whitelist: cidr_whitelist
          azure_ad_access_rules:
            bound_group_ids:
            - bound_group_ids
            - bound_group_ids
            bound_service_principal_ids:
            - bound_service_principal_ids
            - bound_service_principal_ids
            bound_resource_types:
            - bound_resource_types
            - bound_resource_types
            ad_endpoint: ad_endpoint
            bound_resource_groups:
            - bound_resource_groups
            - bound_resource_groups
            bound_resource_names:
            - bound_resource_names
            - bound_resource_names
            bound_resource_ids:
            - bound_resource_ids
            - bound_resource_ids
            bound_resource_providers:
            - bound_resource_providers
            - bound_resource_providers
            bound_tenant_id: bound_tenant_id
            jwks_uri: jwks_uri
            bound_subscription_ids:
            - bound_subscription_ids
            - bound_subscription_ids
            issuer: issuer
          universal_identity_access_rules:
            deny_inheritance: true
            ttl: 6
            deny_rotate: true
          ldap_access_rules:
            alg: alg
            key: key
          huawei_access_rules:
            domain_id:
            - domain_id
            - domain_id
            tenant_id:
            - tenant_id
            - tenant_id
            domain_name:
            - domain_name
            - domain_name
            tenant_name:
            - tenant_name
            - tenant_name
            auth_endpoint: auth_endpoint
            user_id:
            - user_id
            - user_id
            user_name:
            - user_name
            - user_name
          aws_iam_access_rules:
            role_name:
            - role_name
            - role_name
            account_id:
            - account_id
            - account_id
            role_id:
            - role_id
            - role_id
            user_id:
            - user_id
            - user_id
            user_name:
            - user_name
            - user_name
            resource_id:
            - resource_id
            - resource_id
            sts_endpoint: sts_endpoint
            arn:
            - arn
            - arn
          oauth2_access_rules:
            bound_claims:
            - values:
              - values
              - values
              name: name
            - values:
              - values
              - values
              name: name
            audience: audience
            jwks_uri: jwks_uri
            bound_clients_id:
            - bound_clients_id
            - bound_clients_id
            issuer: issuer
          saml_access_rules:
            idp_metadata_url: idp_metadata_url
            bound_attributes:
            - values:
              - values
              - values
              name: name
            - values:
              - values
              - values
              name: name
            idp_metadata_xml: idp_metadata_xml
          api_key_access_rules:
            alg: alg
            key: key
          rules_type: rules_type
          access_expires: 0
          email_pass_access_rules:
            hash_pass: hash_pass
            alg: alg
            email: email
        auth_method_name: auth_method_name
        auth_method_access_id: auth_method_access_id
      properties:
        access_info:
          $ref: '#/components/schemas/AuthMethodAccessInfo'
        account_id:
          type: string
          x-go-name: AccountID
        auth_method_access_id:
          type: string
          x-go-name: AuthMethodAccessID
        auth_method_name:
          type: string
          x-go-name: AuthMethodName
        auth_method_roles_assoc:
          items:
            $ref: '#/components/schemas/AuthMethodRoleAssociation'
          type: array
          x-go-name: AuthMethodRolesAssoc
        client_permissions:
          items:
            type: string
          type: array
          x-go-name: ClientPermissions
      title: AuthMethod represents a single Auth method.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/types
    AuthMethodAccessInfo:
      example:
        cidr_whitelist: cidr_whitelist
        azure_ad_access_rules:
          bound_group_ids:
          - bound_group_ids
          - bound_group_ids
          bound_service_principal_ids:
          - bound_service_principal_ids
          - bound_service_principal_ids
          bound_resource_types:
          - bound_resource_types
          - bound_resource_types
          ad_endpoint: ad_endpoint
          bound_resource_groups:
          - bound_resource_groups
          - bound_resource_groups
          bound_resource_names:
          - bound_resource_names
          - bound_resource_names
          bound_resource_ids:
          - bound_resource_ids
          - bound_resource_ids
          bound_resource_providers:
          - bound_resource_providers
          - bound_resource_providers
          bound_tenant_id: bound_tenant_id
          jwks_uri: jwks_uri
          bound_subscription_ids:
          - bound_subscription_ids
          - bound_subscription_ids
          issuer: issuer
        universal_identity_access_rules:
          deny_inheritance: true
          ttl: 6
          deny_rotate: true
        ldap_access_rules:
          alg: alg
          key: key
        huawei_access_rules:
          domain_id:
          - domain_id
          - domain_id
          tenant_id:
          - tenant_id
          - tenant_id
          domain_name:
          - domain_name
          - domain_name
          tenant_name:
          - tenant_name
          - tenant_name
          auth_endpoint: auth_endpoint
          user_id:
          - user_id
          - user_id
          user_name:
          - user_name
          - user_name
        aws_iam_access_rules:
          role_name:
          - role_name
          - role_name
          account_id:
          - account_id
          - account_id
          role_id:
          - role_id
          - role_id
          user_id:
          - user_id
          - user_id
          user_name:
          - user_name
          - user_name
          resource_id:
          - resource_id
          - resource_id
          sts_endpoint: sts_endpoint
          arn:
          - arn
          - arn
        oauth2_access_rules:
          bound_claims:
          - values:
            - values
            - values
            name: name
          - values:
            - values
            - values
            name: name
          audience: audience
          jwks_uri: jwks_uri
          bound_clients_id:
          - bound_clients_id
          - bound_clients_id
          issuer: issuer
        saml_access_rules:
          idp_metadata_url: idp_metadata_url
          bound_attributes:
          - values:
            - values
            - values
            name: name
          - values:
            - values
            - values
            name: name
          idp_metadata_xml: idp_metadata_xml
        api_key_access_rules:
          alg: alg
          key: key
        rules_type: rules_type
        access_expires: 0
        email_pass_access_rules:
          hash_pass: hash_pass
          alg: alg
          email: email
      properties:
        access_expires:
          format: int64
          type: integer
          x-go-name: AccessExpires
        api_key_access_rules:
          $ref: '#/components/schemas/APIKeyAccessRules'
        aws_iam_access_rules:
          $ref: '#/components/schemas/AWSIAMAccessRules'
        azure_ad_access_rules:
          $ref: '#/components/schemas/AzureADAccessRules'
        cidr_whitelist:
          type: string
          x-go-name: CIDRWhitelist
        email_pass_access_rules:
          $ref: '#/components/schemas/EmailPassAccessRules'
        huawei_access_rules:
          $ref: '#/components/schemas/HuaweiAccessRules'
        ldap_access_rules:
          $ref: '#/components/schemas/LDAPAccessRules'
        oauth2_access_rules:
          $ref: '#/components/schemas/OAuth2AccessRules'
        rules_type:
          type: string
          x-go-name: AccessRulesType
        saml_access_rules:
          $ref: '#/components/schemas/SAMLAccessRules'
        universal_identity_access_rules:
          $ref: '#/components/schemas/UniversalIdentityAccessRules'
      title: AuthMethodAccessInfo includes auth method access information.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/types
    AuthMethodRoleAssociation:
      description: |-
        AuthMethodRoleAssociation includes details of an association between an auth
        method and a role.
      example:
        role_name: role_name
        assoc_id: assoc_id
        rules:
          path_rules:
          - path: path
            capabilities:
            - capabilities
            - capabilities
            type: type
          - path: path
            capabilities:
            - capabilities
            - capabilities
            type: type
          admin: true
        auth_method_sub_claims:
          key:
          - auth_method_sub_claims
          - auth_method_sub_claims
      properties:
        assoc_id:
          type: string
          x-go-name: AssociationID
        auth_method_sub_claims:
          additionalProperties:
            items:
              type: string
            type: array
          type: object
          x-go-name: AuthMethodSubClaims
        role_name:
          type: string
          x-go-name: RoleName
        rules:
          $ref: '#/components/schemas/Rules'
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/types
    AzureADAccessRules:
      description: |-
        AzureADAccessRules contains access rules specific to Azure Active Directory
        authentication.
      example:
        bound_group_ids:
        - bound_group_ids
        - bound_group_ids
        bound_service_principal_ids:
        - bound_service_principal_ids
        - bound_service_principal_ids
        bound_resource_types:
        - bound_resource_types
        - bound_resource_types
        ad_endpoint: ad_endpoint
        bound_resource_groups:
        - bound_resource_groups
        - bound_resource_groups
        bound_resource_names:
        - bound_resource_names
        - bound_resource_names
        bound_resource_ids:
        - bound_resource_ids
        - bound_resource_ids
        bound_resource_providers:
        - bound_resource_providers
        - bound_resource_providers
        bound_tenant_id: bound_tenant_id
        jwks_uri: jwks_uri
        bound_subscription_ids:
        - bound_subscription_ids
        - bound_subscription_ids
        issuer: issuer
      properties:
        ad_endpoint:
          description: The audience in the JWT.
          type: string
          x-go-name: Audience
        bound_group_ids:
          description: The list of group ids that login is restricted to.
          items:
            type: string
          type: array
          x-go-name: BoundGroupIDs
        bound_resource_groups:
          description: The list of resource groups that login is restricted to.
          items:
            type: string
          type: array
          x-go-name: BoundResourceGroups
        bound_resource_ids:
          description: The list of full resource ids that the login is restricted
            to.
          items:
            type: string
          type: array
          x-go-name: BoundResourceIds
        bound_resource_names:
          description: |-
            The list of resource names that the login is restricted to (e.g, a
            virtual machine name, scale set name, etc).
          items:
            type: string
          type: array
          x-go-name: BoundResourceNames
        bound_resource_providers:
          description: |-
            The list of resource providers that login is restricted to (e.g,
            Microsoft.Compute, Microsoft.ManagedIdentity, etc).
          items:
            type: string
          type: array
          x-go-name: BoundResourceProviders
        bound_resource_types:
          description: |-
            The list of resource types that login is restricted to  (e.g,
            virtualMachines, userAssignedIdentities, etc).
          items:
            type: string
          type: array
          x-go-name: BoundResourceTypes
        bound_service_principal_ids:
          description: The list of service principal IDs that login is restricted
            to.
          items:
            type: string
          type: array
          x-go-name: BoundServicePrincipalIDs
        bound_subscription_ids:
          description: The list of subscription IDs that login is restricted to.
          items:
            type: string
          type: array
          x-go-name: BoundSubscriptionsIDs
        bound_tenant_id:
          description: The tenants id for the Azure Active Directory organization.
          type: string
          x-go-name: BoundTenantID
        issuer:
          description: Issuer URL
          type: string
          x-go-name: Issuer
        jwks_uri:
          description: |-
            The URL to the JSON Web Key Set (JWKS) that containing the public keys
            that should be used to verify any JSON Web Token (JWT) issued by the
            authorization server.
          type: string
          x-go-name: JWKeySetURL
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/types
    CertIssuerType:
      title: CertIssuerType represents possible certificate issuers type.
      type: string
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/types
    CertificateIssueInfo:
      example:
        max_ttl: 0
        pki_cert_issuer_details:
          country:
          - country
          - country
          street_address:
          - street_address
          - street_address
          allow_subdomains: true
          key_type: key_type
          allow_any_name: true
          locality:
          - locality
          - locality
          basic_constraints_valid_for_non_ca: true
          organization_unit_list:
          - organization_unit_list
          - organization_unit_list
          server_flag: true
          is_ca: true
          not_before_duration: 1
          key_bits: 6
          organization_list:
          - organization_list
          - organization_list
          require_cn: true
          code_signing_flag: true
          province:
          - province
          - province
          allowed_domains_list:
          - allowed_domains_list
          - allowed_domains_list
          enforce_hostnames: true
          allowed_uri_sans:
          - allowed_uri_sans
          - allowed_uri_sans
          postal_code:
          - postal_code
          - postal_code
          client_flag: true
          key_usage_list:
          - key_usage_list
          - key_usage_list
        ssh_cert_issuer_details:
          static_key_id: static_key_id
          allowed_users:
          - allowed_users
          - allowed_users
          cert_type: 5
          extensions:
            key: extensions
          allowed_domains:
          - allowed_domains
          - allowed_domains
          critical_options:
            key: critical_options
          principals:
          - principals
          - principals
          allowed_user_key_lengths:
            key: 5
        cert_issuer_type: cert_issuer_type
      properties:
        cert_issuer_type:
          title: CertIssuerType represents possible certificate issuers type.
          type: string
          x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/types
        max_ttl:
          format: int64
          type: integer
          x-go-name: MaxTTL
        pki_cert_issuer_details:
          $ref: '#/components/schemas/PKICertificateIssueDetails'
        ssh_cert_issuer_details:
          $ref: '#/components/schemas/SSHCertificateIssueDetails'
      title: CertificateIssueInfo defines Certificate Issuer info.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/types
    CreateRoleAuthMethodAssocOutput:
      description: |-
        CreateRoleAuthMethodAssocOutput defines output of CreateRoleAuthMethodAssoc
        operation.
      example:
        assoc_id: assoc_id
      properties:
        assoc_id:
          type: string
          x-go-name: AssociationID
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/types
    CustomerFragment:
      properties:
        description:
          type: string
          x-go-name: Description
        id:
          type: string
          x-go-name: Id
        value:
          type: string
          x-go-name: Value
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/sdk/config
    CustomerFragmentsJson:
      properties:
        customer_fragments:
          items:
            $ref: '#/components/schemas/CustomerFragment'
          type: array
          x-go-name: Fragments
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/sdk/config
    DeleteItemOutput:
      example:
        version_deleted: 0
        deletion_date: 2000-01-23T04:56:07.000+00:00
        item_name: item_name
      properties:
        deletion_date:
          format: date-time
          type: string
          x-go-name: DeletionDate
        item_name:
          type: string
          x-go-name: ItemName
        version_deleted:
          format: int32
          type: integer
          x-go-name: VersionDeleted
      title: DeleteItemOutput defines output of DeleteItem operation.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/types
    Duration:
      description: |-
        A Duration represents the elapsed time between two instants
        as an int64 nanosecond count. The representation limits the
        largest representable duration to approximately 290 years.
      format: int64
      type: integer
      x-go-package: time
    DynamicSecretProducerInfo:
      description: |-
        DynamicSecretProducerInfo The dynamic secret producer info
        This parameter relevant and required only in case of create update dynamic secret.
      example:
        producer_type: producer_type
        producer_status: producer_status
      properties:
        producer_status:
          description: ProducerStatus defines types of Producer Status
          type: string
          x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/types
        producer_type:
          type: string
          x-go-name: ProducerType
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/types
    EmailPassAccessRules:
      example:
        hash_pass: hash_pass
        alg: alg
        email: email
      properties:
        alg:
          title: HashAlgorithm is a type that represents a single hash algorithm.
          type: string
          x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/types
        email:
          description: The Email value
          type: string
          x-go-name: Email
        hash_pass:
          description: The password value
          type: string
          x-go-name: HashPass
      title: EmailPassAccessRules is a set of rules for email password access type.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/types
    EncryptOutput:
      example:
        result:
        - 0
        - 0
      properties:
        result:
          items:
            format: uint8
            type: integer
          type: array
          x-go-name: Result
      title: EncryptOutput defines output of Encrypt operation.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/types
    GetPKICertificate:
      properties:
        alt-names:
          description: |-
            The Subject Alternative Names to be included in the PKI certificate (in
            a comma-delimited list)
          type: string
          x-go-name: AltNames
        cert-issuer-name:
          description: The name of the PKI certificate issuer
          type: string
          x-go-name: CertIssuerName
        common-name:
          description: The common name to be included in the PKI certificate
          type: string
          x-go-name: CommonName
        key-file-path:
          description: |-
            The client public or private key file path (in case of a private key, it
            will be use to extract the public key)
          type: string
          x-go-name: KeyFilePath
        outfile:
          description: |-
            Output file path with the certificate. If not provided, the file with
            the certificate will be created in the same location of the provided
            public key with the -cert extension
          type: string
          x-go-name: OutFilePath
        token:
          description: Authentication token (see `/auth` and `/configure`)
          type: string
          x-go-name: Profile
        uid-token:
          description: |-
            The universal identity token, Required only for universal_identity
            authentication
          type: string
          x-go-name: UIDToken
        uri-sans:
          description: |-
            The URI Subject Alternative Names to be included in the PKI certificate
            (in a comma-delimited list)
          type: string
          x-go-name: URISANs
      required:
      - cert-issuer-name
      - key-file-path
      title: GetPKICertificate is a command that generates PKI certificate.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    HashAlgorithm:
      title: HashAlgorithm is a type that represents a single hash algorithm.
      type: string
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/types
    HuaweiAccessRules:
      example:
        domain_id:
        - domain_id
        - domain_id
        tenant_id:
        - tenant_id
        - tenant_id
        domain_name:
        - domain_name
        - domain_name
        tenant_name:
        - tenant_name
        - tenant_name
        auth_endpoint: auth_endpoint
        user_id:
        - user_id
        - user_id
        user_name:
        - user_name
        - user_name
      properties:
        auth_endpoint:
          description: The auth URL.
          type: string
          x-go-name: AuthEndpoint
        domain_id:
          description: The list of domain ids that the login is restricted to.
          items:
            type: string
          type: array
          x-go-name: DomainID
        domain_name:
          description: The list of domainNames that the login is restricted to.
          items:
            type: string
          type: array
          x-go-name: DomainName
        tenant_id:
          description: The list of tenantIDs  that the login is restricted to.
          items:
            type: string
          type: array
          x-go-name: TenantID
        tenant_name:
          description: The list of tenantNames  that the login is restricted to.
          items:
            type: string
          type: array
          x-go-name: TenantName
        user_id:
          description: The list of user ids that the login is restricted to.
          items:
            type: string
          type: array
          x-go-name: UserID
        user_name:
          description: The list of user names that the login is restricted to.
          items:
            type: string
          type: array
          x-go-name: UserName
      title: HuaweiAccessRules defines access rules specific to Huawei authentication.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/types
    Item:
      example:
        auto_rotate: true
        item_state: item_state
        cert_issuer_signer_key_name: cert_issuer_signer_key_name
        item_tags:
        - item_tags
        - item_tags
        item_type: item_type
        certificate_issue_details:
          max_ttl: 0
          pki_cert_issuer_details:
            country:
            - country
            - country
            street_address:
            - street_address
            - street_address
            allow_subdomains: true
            key_type: key_type
            allow_any_name: true
            locality:
            - locality
            - locality
            basic_constraints_valid_for_non_ca: true
            organization_unit_list:
            - organization_unit_list
            - organization_unit_list
            server_flag: true
            is_ca: true
            not_before_duration: 1
            key_bits: 6
            organization_list:
            - organization_list
            - organization_list
            require_cn: true
            code_signing_flag: true
            province:
            - province
            - province
            allowed_domains_list:
            - allowed_domains_list
            - allowed_domains_list
            enforce_hostnames: true
            allowed_uri_sans:
            - allowed_uri_sans
            - allowed_uri_sans
            postal_code:
            - postal_code
            - postal_code
            client_flag: true
            key_usage_list:
            - key_usage_list
            - key_usage_list
          ssh_cert_issuer_details:
            static_key_id: static_key_id
            allowed_users:
            - allowed_users
            - allowed_users
            cert_type: 5
            extensions:
              key: extensions
            allowed_domains:
            - allowed_domains
            - allowed_domains
            critical_options:
              key: critical_options
            principals:
            - principals
            - principals
            allowed_user_key_lengths:
              key: 5
          cert_issuer_type: cert_issuer_type
        item_versions:
        - item_version_state: item_version_state
          with_customer_fragment: true
          deletion_date: 2000-01-23T04:56:07.000+00:00
          protection_key_name: protection_key_name
          creation_date: 2000-01-23T04:56:07.000+00:00
          version: 7
        - item_version_state: item_version_state
          with_customer_fragment: true
          deletion_date: 2000-01-23T04:56:07.000+00:00
          protection_key_name: protection_key_name
          creation_date: 2000-01-23T04:56:07.000+00:00
          version: 7
        item_name: item_name
        item_size: 2
        is_enabled: true
        item_general_info:
          dynamic_secret_producer_details:
            producer_type: producer_type
            producer_status: producer_status
          cert_issue_details:
            max_ttl: 0
            pki_cert_issuer_details:
              country:
              - country
              - country
              street_address:
              - street_address
              - street_address
              allow_subdomains: true
              key_type: key_type
              allow_any_name: true
              locality:
              - locality
              - locality
              basic_constraints_valid_for_non_ca: true
              organization_unit_list:
              - organization_unit_list
              - organization_unit_list
              server_flag: true
              is_ca: true
              not_before_duration: 1
              key_bits: 6
              organization_list:
              - organization_list
              - organization_list
              require_cn: true
              code_signing_flag: true
              province:
              - province
              - province
              allowed_domains_list:
              - allowed_domains_list
              - allowed_domains_list
              enforce_hostnames: true
              allowed_uri_sans:
              - allowed_uri_sans
              - allowed_uri_sans
              postal_code:
              - postal_code
              - postal_code
              client_flag: true
              key_usage_list:
              - key_usage_list
              - key_usage_list
            ssh_cert_issuer_details:
              static_key_id: static_key_id
              allowed_users:
              - allowed_users
              - allowed_users
              cert_type: 5
              extensions:
                key: extensions
              allowed_domains:
              - allowed_domains
              - allowed_domains
              critical_options:
                key: critical_options
              principals:
              - principals
              - principals
              allowed_user_key_lengths:
                key: 5
            cert_issuer_type: cert_issuer_type
        last_version: 9
        next_rotation_date: 2000-01-23T04:56:07.000+00:00
        client_permissions:
        - client_permissions
        - client_permissions
        with_customer_fragment: true
        certificates: certificates
        rotation_interval: 3
        item_metadata: item_metadata
        deletion_date: 2000-01-23T04:56:07.000+00:00
        producer_status: producer_status
        protection_key_name: protection_key_name
        public_value: public_value
      properties:
        auto_rotate:
          type: boolean
          x-go-name: AutoRotate
        cert_issuer_signer_key_name:
          type: string
          x-go-name: CertIssuerSignerKeyName
        certificate_issue_details:
          $ref: '#/components/schemas/CertificateIssueInfo'
        certificates:
          type: string
          x-go-name: Certificates
        client_permissions:
          items:
            type: string
          type: array
          x-go-name: ClientPermissions
        deletion_date:
          format: date-time
          type: string
          x-go-name: DeletionDate
        is_enabled:
          type: boolean
          x-go-name: IsEnabled
        item_general_info:
          $ref: '#/components/schemas/ItemGeneralInfo'
        item_metadata:
          type: string
          x-go-name: ItemMetadata
        item_name:
          type: string
          x-go-name: ItemName
        item_size:
          format: int64
          type: integer
          x-go-name: Size
        item_state:
          description: ItemState defines the different states an Item can be in
          type: string
          x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/types
        item_tags:
          items:
            type: string
          type: array
          x-go-name: Tags
        item_type:
          title: ItemType defines types supported by AKEYLESS.
          type: string
          x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/types
        item_versions:
          items:
            $ref: '#/components/schemas/ItemVersion'
          type: array
          x-go-name: ItemVersions
        last_version:
          format: int32
          type: integer
          x-go-name: LastVersion
        next_rotation_date:
          format: date-time
          type: string
          x-go-name: NextRotationDate
        producer_status:
          description: ProducerStatus defines types of Producer Status
          type: string
          x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/types
        protection_key_name:
          type: string
          x-go-name: ProtectionKeyName
        public_value:
          type: string
          x-go-name: PublicValue
        rotation_interval:
          format: int64
          type: integer
          x-go-name: RotationInterval
        with_customer_fragment:
          type: boolean
          x-go-name: WithCustomerFragment
      title: Item describes any item in AKEYLESS.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/types
    ItemGeneralInfo:
      example:
        dynamic_secret_producer_details:
          producer_type: producer_type
          producer_status: producer_status
        cert_issue_details:
          max_ttl: 0
          pki_cert_issuer_details:
            country:
            - country
            - country
            street_address:
            - street_address
            - street_address
            allow_subdomains: true
            key_type: key_type
            allow_any_name: true
            locality:
            - locality
            - locality
            basic_constraints_valid_for_non_ca: true
            organization_unit_list:
            - organization_unit_list
            - organization_unit_list
            server_flag: true
            is_ca: true
            not_before_duration: 1
            key_bits: 6
            organization_list:
            - organization_list
            - organization_list
            require_cn: true
            code_signing_flag: true
            province:
            - province
            - province
            allowed_domains_list:
            - allowed_domains_list
            - allowed_domains_list
            enforce_hostnames: true
            allowed_uri_sans:
            - allowed_uri_sans
            - allowed_uri_sans
            postal_code:
            - postal_code
            - postal_code
            client_flag: true
            key_usage_list:
            - key_usage_list
            - key_usage_list
          ssh_cert_issuer_details:
            static_key_id: static_key_id
            allowed_users:
            - allowed_users
            - allowed_users
            cert_type: 5
            extensions:
              key: extensions
            allowed_domains:
            - allowed_domains
            - allowed_domains
            critical_options:
              key: critical_options
            principals:
            - principals
            - principals
            allowed_user_key_lengths:
              key: 5
          cert_issuer_type: cert_issuer_type
      properties:
        cert_issue_details:
          $ref: '#/components/schemas/CertificateIssueInfo'
        dynamic_secret_producer_details:
          $ref: '#/components/schemas/DynamicSecretProducerInfo'
      title: ItemGeneralInfo defines item general info.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/types
    ItemState:
      description: ItemState defines the different states an Item can be in
      type: string
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/types
    ItemType:
      title: ItemType defines types supported by AKEYLESS.
      type: string
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/types
    ItemVersion:
      example:
        item_version_state: item_version_state
        with_customer_fragment: true
        deletion_date: 2000-01-23T04:56:07.000+00:00
[...]
