openapi: 3.0.1
info:
  contact:
    email: support@akeyless.io
    name: Akeyless
    url: http://akeyless.io
  description: The purpose of this application is to provide access to Akeyless API.
  title: Akeyless API
  version: "2.0"
servers:
- url: https://api.akeyless.io/
paths:
  /assoc-role-am:
    post:
      operationId: assocRoleAuthMethod
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/assocRoleAuthMethod'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateRoleAuthMethodAssocOutput'
          description: assocRoleAuthMethodResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /assoc-target-item:
    post:
      operationId: assocTargetItem
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/assocTargetItem'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTargetItemAssocOutput'
          description: assocTargetItemResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /auth:
    post:
      operationId: auth
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/auth'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthOutput'
          description: authResponse wraps response body.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /configure:
    post:
      operationId: configure
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/configure'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/configureOutput'
          description: configureResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /connect:
    post:
      operationId: Connect
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Connect'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connectOutput'
          description: connectResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-artifactory-target:
    post:
      operationId: createArtifactoryTarget
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createArtifactoryTarget'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createArtifactoryTargetOutput'
          description: createArtifactoryTargetResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-auth-method:
    post:
      operationId: createAuthMethod
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createAuthMethod'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createAuthMethodOutput'
          description: createAuthMethodResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-auth-method-aws-iam:
    post:
      operationId: createAuthMethodAWSIAM
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createAuthMethodAWSIAM'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createAuthMethodAWSIAMOutput'
          description: createAuthMethodAWSIAMResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-auth-method-azure-ad:
    post:
      operationId: createAuthMethodAzureAD
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createAuthMethodAzureAD'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createAuthMethodAzureADOutput'
          description: createAuthMethodAzureADResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-auth-method-cert:
    post:
      operationId: createAuthMethodCert
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createAuthMethodCert'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createAuthMethodCertOutput'
          description: createAuthMethodCertResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-auth-method-email:
    post:
      operationId: createAuthMethodEmail
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createAuthMethodEmail'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createAuthMethodEmailOutput'
          description: createAuthMethodEmailResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-auth-method-gcp:
    post:
      operationId: createAuthMethodGCP
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createAuthMethodGCP'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createAuthMethodGCPOutput'
          description: createAuthMethodGCPResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-auth-method-huawei:
    post:
      operationId: createAuthMethodHuawei
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createAuthMethodHuawei'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createAuthMethodHuaweiOutput'
          description: createAuthMethodHuaweiResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-auth-method-k8s:
    post:
      operationId: createAuthMethodK8S
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createAuthMethodK8S'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createAuthMethodK8SOutput'
          description: createAuthMethodK8SResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-auth-method-ldap:
    post:
      operationId: createAuthMethodLDAP
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createAuthMethodLDAP'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createAuthMethodLDAPOutput'
          description: createAuthMethodLDAPResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-auth-method-oauth2:
    post:
      operationId: createAuthMethodOAuth2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createAuthMethodOAuth2'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createAuthMethodOAuth2Output'
          description: createAuthMethodOAuth2Response wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-auth-method-oci:
    post:
      operationId: createAuthMethodOCI
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createAuthMethodOCI'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createAuthMethodOCIOutput'
          description: createAuthMethodOCIResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-auth-method-oidc:
    post:
      operationId: createAuthMethodOIDC
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createAuthMethodOIDC'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createAuthMethodOIDCOutput'
          description: createAuthMethodOIDCResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-auth-method-saml:
    post:
      operationId: createAuthMethodSAML
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createAuthMethodSAML'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createAuthMethodSAMLOutput'
          description: createAuthMethodSAMLResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-auth-method-universal-identity:
    post:
      operationId: createAuthMethodUniversalIdentity
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createAuthMethodUniversalIdentity'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createAuthMethodUniversalIdentityOutput'
          description: createAuthMethodUniversalIdentityResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-aws-target:
    post:
      operationId: createAWSTarget
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createAWSTarget'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createAWSTargetOutput'
          description: createAWSTargetResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-azure-target:
    post:
      operationId: createAzureTarget
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createAzureTarget'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createAzureTargetOutput'
          description: createAzureTargetResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-certificate:
    post:
      operationId: createCertificate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createCertificate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createCertificateOutput'
          description: createCertificateResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-classic-key:
    post:
      operationId: CreateClassicKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateClassicKey'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateClassicKeyOutput'
          description: CreateClassicKeyResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-db-target:
    post:
      operationId: createDBTarget
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createDBTarget'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createDBTargetOutput'
          description: createDBTargetResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-dfc-key:
    post:
      operationId: createDFCKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createDFCKey'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createDFCKeyOutput'
          description: createDFCKeyResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-dockerhub-target:
    post:
      operationId: createDockerhubTarget
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createDockerhubTarget'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createDockerhubTargetOutput'
          description: createDockerhubTargetResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-dynamic-secret:
    post:
      operationId: createDynamicSecret
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createDynamicSecret'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createDynamicSecretOutput'
          description: createDynamicSecretResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-eks-target:
    post:
      operationId: createEKSTarget
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createEKSTarget'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createEKSTargetOutput'
          description: createEKSTargetResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-esm:
    post:
      operationId: CreateESM
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateESM'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateESMOutput'
          description: CreateExternalSecretsManagerResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-event-forwarder:
    post:
      operationId: createEventForwarder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createEventForwarder'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createEventForwarderOutput'
          description: createEventForwarderResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-gcp-target:
    post:
      operationId: createGcpTarget
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createGcpTarget'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createGcpTargetOutput'
          description: createGcpTargetResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-github-target:
    post:
      operationId: createGithubTarget
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createGithubTarget'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createGithubTargetOutput'
          description: createGithubTargetResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-gke-target:
    post:
      operationId: createGKETarget
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createGKETarget'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createGKETargetOutput'
          description: createGKETargetResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-globalsign-atlas-target:
    post:
      operationId: createGlobalSignAtlasTarget
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createGlobalSignAtlasTarget'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createGlobalSignAtlasTargetOutput'
          description: createGlobalSignAtlasTargetResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-globalsign-target:
    post:
      operationId: createGlobalSignTarget
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createGlobalSignTarget'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createGlobalSignTargetOutput'
          description: createGlobalSignTargetResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-group:
    post:
      operationId: createGroup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createGroup'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateGroupOutput'
          description: createGroupResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-k8s-target:
    post:
      operationId: createNativeK8STarget
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createNativeK8STarget'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createNativeK8STargetOutput'
          description: createNativeK8STargetResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-key:
    post:
      operationId: createKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createKey'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createKeyOutput'
          description: createKeyResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-ldap-target:
    post:
      operationId: createldapTarget
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createLdapTarget'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createLdapTargetOutput'
          description: createldapTargetResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-linked-target:
    post:
      operationId: createLinkedTarget
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createLinkedTarget'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createLinkedTargetOutput'
          description: createLinkedTargetResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-oidc-app:
    post:
      operationId: createOidcApp
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createOidcApp'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOidcAppOutput'
          description: createOidcAppResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-ping-target:
    post:
      operationId: createPingTarget
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createPingTarget'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createPingTargetOutput'
          description: createPingTargetResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-pki-cert-issuer:
    post:
      operationId: CreatePKICertIssuer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePKICertIssuer'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createPKICertIssuerOutput'
          description: createPKICertIssuerResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-rabbitmq-target:
    post:
      operationId: createRabbitMQTarget
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createRabbitMQTarget'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createRabbitMQTargetOutput'
          description: createRabbitMQTargetResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-role:
    post:
      operationId: createRole
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createRole'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createRoleOutput'
          description: createRoleResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-rotated-secret:
    post:
      operationId: createRotatedSecret
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createRotatedSecret'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateRotatedSecretOutput'
          description: createRotatedSecretResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-salesforce-target:
    post:
      operationId: createSalesforceTarget
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createSalesforceTarget'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createSalesforceTargetOutput'
          description: createSalesforceTargetResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-secret:
    post:
      operationId: createSecret
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createSecret'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSecretOutput'
          description: createSecretResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-ssh-cert-issuer:
    post:
      operationId: createSSHCertIssuer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createSSHCertIssuer'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createSSHCertIssuerOutput'
          description: createSSHCertIssuerResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-ssh-target:
    post:
      operationId: createSSHTarget
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createSSHTarget'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createSSHTargetOutput'
          description: createSSHTargetResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-tokenizer:
    post:
      operationId: createTokenizer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createTokenizer'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createTokenizerOutput'
          description: createTokenizerResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-usc:
    post:
      operationId: CreateUSC
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUSC'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateUSCOutput'
          description: CreateUniversalSecretsConnectorResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-user-event:
    post:
      operationId: createUserEvent
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createUserEvent'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createUserEventOutput'
          description: createUserEventResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-web-target:
    post:
      operationId: createWebTarget
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createWebTarget'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createWebTargetOutput'
          description: createWebTargetResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-windows-target:
    post:
      operationId: createWindowsTarget
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createWindowsTarget'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createWindowsTargetOutput'
          description: createWindowsTargetResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /create-zerossl-target:
    post:
      operationId: createZeroSSLTarget
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createZeroSSLTarget'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createZeroSSLTargetOutput'
          description: createZeroSSLTargetResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /decrypt:
    post:
      operationId: decrypt
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/decrypt'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/decryptOutput'
          description: decryptResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /decrypt-gpg:
    post:
      operationId: decryptGPG
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/decryptGPG'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/decryptGPGOutput'
          description: decryptGPGResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /decrypt-pkcs1:
    post:
      operationId: decryptPKCS1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/decryptPKCS1'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/decryptPKCS1Output'
          description: decryptPKCS1Response wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /decrypt-with-classic-key:
    post:
      operationId: decryptWithClassicKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/decryptWithClassicKey'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/decryptWithClassicKeyOutput'
          description: decryptWithClassicKeyResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /delete-assoc:
    post:
      operationId: deleteRoleAssociation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deleteRoleAssociation'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteRoleAssociationOutput'
          description: deleteRoleAssociationResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /delete-assoc-target-item:
    post:
      operationId: deleteTargetAssociation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deleteTargetAssociation'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteTargetAssociationOutput'
          description: deleteTargetAssociationResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /delete-auth-method:
    post:
      operationId: deleteAuthMethod
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deleteAuthMethod'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAuthMethodOutput'
          description: deleteAuthMethodResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /delete-auth-methods:
    post:
      operationId: deleteAuthMethods
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deleteAuthMethods'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAuthMethodsOutput'
          description: deleteAuthMethodsResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /delete-event-forwarder:
    post:
      operationId: deleteEventForwarder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deleteEventForwarder'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteEventForwarderOutput'
          description: deleteEventForwarderResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /delete-gateway-cluster:
    post:
      operationId: deleteGwCluster
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deleteGwCluster'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteGwClusterOutput'
          description: deleteGwClusterResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /delete-group:
    post:
      operationId: deleteGroup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deleteGroup'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteGroupOutput'
          description: deleteGroupResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /delete-item:
    post:
      operationId: deleteItem
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deleteItem'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteItemOutput'
          description: deleteItemResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /delete-items:
    post:
      operationId: deleteItems
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deleteItems'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteItemsOutput'
          description: deleteItemsResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /delete-role:
    post:
      operationId: deleteRole
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deleteRole'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteRoleOutput'
          description: deleteRoleResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /delete-role-rule:
    post:
      operationId: deleteRoleRule
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deleteRoleRule'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteRoleRuleOutput'
          description: deleteRoleRuleResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /delete-roles:
    post:
      operationId: deleteRoles
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deleteRoles'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteRolesOutput'
          description: deleteRolesResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /delete-target:
    post:
      operationId: deleteTarget
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deleteTarget'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteTargetOutput'
          description: deleteTargetResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /delete-targets:
    post:
      operationId: deleteTargets
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deleteTargets'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteTargetsOutput'
          description: deleteTargetsResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /derive-key:
    post:
      operationId: DeriveKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeriveKey'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeriveKeyOutput'
          description: DeriveKeyResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /describe-item:
    post:
      operationId: describeItem
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/describeItem'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Item'
          description: describeItemResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /describe-permissions:
    post:
      operationId: describePermissions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/describePermissions'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribePermissionsOutput'
          description: DescribePermissionsResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /describe-role-am-assoc:
    post:
      operationId: describeAssoc
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/describeAssoc'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleAssociationDetails'
          description: describeAssocResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /describe-sub-claims:
    post:
      operationId: describeSubClaims
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/describeSubClaims'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/describeSubClaimsOutput'
          description: describeSubClaimsResponse wraps response body.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /detokenize:
    post:
      operationId: detokenize
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/detokenize'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/detokenizeOutput'
          description: detokenizeResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /encrypt:
    post:
      operationId: encrypt
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/encrypt'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/encryptOutput'
          description: encryptResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /encrypt-gpg:
    post:
      operationId: encryptGPG
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/encryptGPG'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/encryptGPGOutput'
          description: encryptGPGResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /encrypt-with-classic-key:
    post:
      operationId: encryptWithClassicKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/encryptWithClassicKey'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/encryptOutput'
          description: encryptResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /esm-create:
    post:
      operationId: esmCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/esmCreate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EsmCreateSecretOutput'
          description: esmCreateResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /esm-delete:
    post:
      operationId: esmDelete
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/esmDelete'
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EsmDeleteSecretOutput'
          description: esmDeleteResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /esm-get:
    post:
      operationId: esmGet
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/esmGet'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EsmGetSecretOutput'
          description: esmGetResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /esm-list:
    post:
      operationId: esmList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/esmList'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EsmListSecretsOutput'
          description: esmListResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /esm-update:
    post:
      operationId: esmUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/esmUpdate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EsmUpdateSecretOutput'
          description: esmUpdateResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /event-action:
    post:
      operationId: eventAction
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/eventAction'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eventActionOutput'
          description: eventActionResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /export-classic-key:
    post:
      operationId: ExportClassicKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportClassicKey'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportClassicKeyOutput'
          description: ExportClassicKeyResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /gateway-create-allowed-access:
    post:
      operationId: gatewayCreateAllowedAccess
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayCreateAllowedAccess'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllowedAccess'
          description: gatewayCreateAllowedAccessResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /gateway-create-k8s-auth-config:
    post:
      operationId: gatewayCreateK8SAuthConfig
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayCreateK8SAuthConfig'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayCreateK8SAuthConfigOutput'
          description: gatewayCreateK8SAuthConfigResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /gateway-create-migration:
    post:
      operationId: gatewayCreateMigration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayCreateMigration'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayMigrationCreateOutput'
          description: gatewayMigrationCreateResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /gateway-create-producer-Redis:
    post:
      operationId: gatewayCreateProducerRedis
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayCreateProducerRedis'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayCreateProducerRedisOutput'
          description: gatewayCreateProducerRedisResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /gateway-create-producer-artifactory:
    post:
      operationId: gatewayCreateProducerArtifactory
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayCreateProducerArtifactory'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayCreateProducerArtifactoryOutput'
          description: gatewayCreateProducerArtifactoryResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /gateway-create-producer-aws:
    post:
      operationId: gatewayCreateProducerAws
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayCreateProducerAws'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayCreateProducerAwsOutput'
          description: gatewayCreateProducerAwsResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /gateway-create-producer-azure:
    post:
      operationId: gatewayCreateProducerAzure
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayCreateProducerAzure'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayCreateProducerAzureOutput'
          description: gatewayCreateProducerAzureResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /gateway-create-producer-cassandra:
    post:
      operationId: gatewayCreateProducerCassandra
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayCreateProducerCassandra'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayCreateProducerCassandraOutput'
          description: gatewayCreateProducerCassandraResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /gateway-create-producer-certificate-automation:
    post:
      operationId: gatewayCreateProducerCertificateAutomation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayCreateProducerCertificateAutomation'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayCreateProducerCertificateAutomationOutput'
          description: gatewayCreateProducerCertificateAutomationResponse wraps response
            body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /gateway-create-producer-custom:
    post:
      operationId: gatewayCreateProducerCustom
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayCreateProducerCustom'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayCreateProducerCustomOutput'
          description: gatewayCreateProducerCustomResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /gateway-create-producer-dockerhub:
    post:
      operationId: gatewayCreateProducerDockerhub
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayCreateProducerDockerhub'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayCreateProducerDockerhubOutput'
          description: gatewayCreateProducerDockerhubResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /gateway-create-producer-eks:
    post:
      operationId: gatewayCreateProducerEks
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayCreateProducerEks'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayCreateProducerEksOutput'
          description: gatewayCreateProducerEksResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /gateway-create-producer-gcp:
    post:
      operationId: gatewayCreateProducerGcp
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayCreateProducerGcp'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayCreateProducerGcpOutput'
          description: gatewayCreateProducerGcpResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /gateway-create-producer-github:
    post:
      operationId: gatewayCreateProducerGithub
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayCreateProducerGithub'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayCreateProducerGithubOutput'
          description: gatewayCreateProducerGithubResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /gateway-create-producer-gke:
    post:
      operationId: gatewayCreateProducerGke
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayCreateProducerGke'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayCreateProducerGkeOutput'
          description: gatewayCreateProducerGkeResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /gateway-create-producer-hanadb:
    post:
      operationId: gatewayCreateProducerHanaDb
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayCreateProducerHanaDb'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayCreateProducerHanaDbOutput'
          description: gatewayCreateProducerHanaDbResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /gateway-create-producer-k8s:
    post:
      operationId: gatewayCreateProducerNativeK8S
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayCreateProducerNativeK8S'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayCreateProducerNativeK8SOutput'
          description: gatewayCreateProducerNativeK8SResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /gateway-create-producer-ldap:
    post:
      operationId: gatewayCreateProducerLdap
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayCreateProducerLdap'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayCreateProducerLdapOutput'
          description: gatewayCreateProducerLdapResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /gateway-create-producer-mongo:
    post:
      operationId: gatewayCreateProducerMongo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayCreateProducerMongo'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayCreateProducerMongoOutput'
          description: gatewayCreateProducerMongoResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /gateway-create-producer-mssql:
    post:
      operationId: gatewayCreateProducerMSSQL
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayCreateProducerMSSQL'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayCreateProducerMSSQLOutput'
          description: gatewayCreateProducerMSSQLResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /gateway-create-producer-mysql:
    post:
      operationId: gatewayCreateProducerMySQL
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayCreateProducerMySQL'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayCreateProducerMySQLOutput'
          description: gatewayCreateProducerMySQLResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /gateway-create-producer-oracle:
    post:
      operationId: gatewayCreateProducerOracleDb
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayCreateProducerOracleDb'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayCreateProducerOracleDbOutput'
          description: gatewayCreateProducerOracleDbResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /gateway-create-producer-ping:
    post:
      operationId: gatewayCreateProducerPing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayCreateProducerPing'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayCreateProducerPingOutput'
          description: gatewayCreateProducerPingResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /gateway-create-producer-postgresql:
    post:
      operationId: gatewayCreateProducerPostgreSQL
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayCreateProducerPostgreSQL'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayCreateProducerPostgreSQLOutput'
          description: gatewayCreateProducerPostgreSQLResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /gateway-create-producer-rabbitmq:
    post:
      operationId: gatewayCreateProducerRabbitMQ
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayCreateProducerRabbitMQ'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayCreateProducerRabbitMQOutput'
          description: gatewayCreateProducerRabbitMQResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /gateway-create-producer-rdp:
    post:
      operationId: gatewayCreateProducerRdp
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayCreateProducerRdp'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayCreateProducerRdpOutput'
          description: gatewayCreateProducerRdpResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /gateway-create-producer-redshift:
    post:
      operationId: gatewayCreateProducerRedshift
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayCreateProducerRedshift'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayCreateProducerRedshiftOutput'
          description: gatewayCreateProducerRedshiftResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /gateway-create-producer-snowflake:
    post:
      operationId: gatewayCreateProducerSnowflake
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayCreateProducerSnowflake'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayCreateProducerSnowflakeOutput'
          description: gatewayCreateProducerSnowflakeResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: |-
            errorResponse wraps any error to return it as a JSON object with one "error"
            field.
      tags:
      - v2
      x-codegen-request-body-name: body
  /gateway-delete-allowed-access:
    post:
      operationId: gatewayDeleteAllowedAccess
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayDeleteAllowedAccess'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayDeleteAllowedAccessOutput'
          description: gatewayDeleteAllowedAccessResponse wraps response body.
        default:
          content:
            application/json:
              schema:
[...]
